<div style="font-family: Helvetica,serif" class="container text-center mx-auto mt-5 mb-5 pb-5">

    <div style="height: 73vh;" class="row text-center mx-auto">



        <div class="col-12 text-center mx-auto my-auto">
            <img style="height: 20rem" src="assets/images/website/opps.png" alt="">
            <h1 style="font-size: 3.8rem !important; margin-bottom: 0 !important;" class=" text-center fw-bold text-center mx-auto text-info">
                Opps
            </h1>
            <p  style="font-size: 3rem !important;"  class="badge-info fw-bold text-center text-dark text-center">
                Something went wrong.
            </p>
            <h5>Try refreshing this page or coming back later.</h5>
        </div>
    </div>

</div>
<div class="mb-5"></div>
