

.browse-m-tile{
  font-size: 3.8rem !important;
}

.browse-tile:hover {
  transform: scale(1.01);
  opacity: .9;
  overflow-y: hidden !important;
  cursor: pointer;
  /* https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input, select, textarea{
  color: rgba(0, 0, 0, 0.502) !important;
}

@media (max-width: 575.68px) {

  .hm-sm{
    font-size: 2rem !important;
  }


}

@media (min-width: 580.68px) {

  .pt-md{
    padding-top: 5rem !important;
  }
  .hm-sm{
    font-size: 3.8rem !important;
  }

}
