<div  class="">
        <h1 class="fs-3 fw-bold mx-auto text-center pt-2 text-info font-gro-bold" mat-dialog-title>Our plans</h1>
        <div style="z-index: 99999 !important;" class="d-flex justify-content-around">

            <div style=" z-index: 999999 !important; width:  20rem !important;" class=" p-4 rounded m-3 subscription-card subscription-card" >
                <div class="d-flex  justify-content-between">
                    <h5 class="fw-bold m-0">Basic</h5>
                </div>
                <p style="font-size: 0.8rem;" class="m-0 mt-4"> A plan that scales to height beyond the torch can
                    go.</p>

                <div class="d-flex align-items-center mt-3">
                    <h1 class="m-0 fw-bold">€12.99 </h1>
                    <span>/monthly</span>
                </div>
                <button (click)="checkout('price_1Mlhs9BapNSScoYv0wI6C4q9')" style="width: 100%;"
                        class="mt-4 btn btn-info text-light mb-4">Buy Plan
                </button>
                <p style="font-size: 1rem;" class="d-flex m-0 my-2 fw-light">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="me-2"
                         style="width: 1rem;">
                        <path fill-rule="evenodd"
                              d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z"
                              clip-rule="evenodd"/>
                    </svg>
                    <span>
                        3 Free Scooter Ads
                    </span>
                </p>
                <p style="font-size: 1rem;" class="d-flex m-0 my-2 fw-light">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="me-2"
                         style="width: 1rem;">
                        <path fill-rule="evenodd"
                              d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z"
                              clip-rule="evenodd"/>
                    </svg>

                    <span>
                    Free Insurance
                </span>
                </p>
                <p style="font-size: 1rem;" class="d-flex m-0 my-2 fw-light">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="me-2"
                         style="width: 1rem;">
                        <path fill-rule="evenodd"
                              d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z"
                              clip-rule="evenodd"/>
                    </svg>
                    <span>
                      No Extra Fees
                </span>
                </p>

            </div>
            <div style="position: relative !important; width:  20rem !important; border: 3px solid #10caf0 !important;"
                 class="border p-4 rounded m-3 border-info border-xl subscription-card-popular">
                <p style="position: absolute !important; top:0; right:0"
                   class="bg-info my-auto text-light p-1 fs-7 px-3">Most Popular</p>

                <div class="d-flex  justify-content-between">
                    <h5 class="fw-bold m-0">Advanced</h5>
                </div>

                <p style="font-size: 0.8rem;" class="m-0 mt-4"> A plan that scales to height beyond the torch can
                    go.</p>

                <div class="d-flex align-items-center mt-3">
                    <h1 class="m-0 fw-bold">€29.99 </h1>
                    <span>/monthly</span>
                </div>
                <button (click)="checkout('price_1MlhwfBapNSScoYvnenMR1I0')" style="width: 100%;"
                        class="mt-4 btn btn-info text-light mb-4">Buy Plan
                </button>
                <p style="font-size: 1rem;" class="d-flex m-0 my-2 fw-light">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="me-2"
                         style="width: 1rem;">
                        <path fill-rule="evenodd"
                              d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z"
                              clip-rule="evenodd"/>
                    </svg>
                    <span>
                        7 Free Scooter Ads
                    </span>
                </p>
                <p style="font-size: 1rem;" class="d-flex m-0 my-2 fw-light">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="me-2"
                         style="width: 1rem;">
                        <path fill-rule="evenodd"
                              d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z"
                              clip-rule="evenodd"/>
                    </svg>

                    <span>
                    Free Insurance
                </span>
                </p>
                <p style="font-size: 1rem;" class="d-flex m-0 my-2 fw-light">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="me-2"
                         style="width: 1rem;">
                        <path fill-rule="evenodd"
                              d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z"
                              clip-rule="evenodd"/>
                    </svg>
                    <span>
                12 Hour Breakdown aid
            </span>
                </p>
                <p style="font-size: 1rem;" class="d-flex m-0 my-2 fw-light">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="me-2"
                         style="width: 1rem;">
                        <path fill-rule="evenodd"
                              d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z"
                              clip-rule="evenodd"/>
                    </svg>
                    <span>
                      No Extra Fees
                </span>
                </p>

            </div>
            <div style=" width:  20rem !important;" class="border p-4 rounded m-3 subscription-card">
                <div class="d-flex  justify-content-between">
                    <h5 class="fw-bold m-0">Pro</h5>
                </div>
                <p style="font-size: 0.8rem;" class="m-0 mt-4"> A plan that scales to height beyond the torch can
                    go.</p>

                <div class="d-flex align-items-center mt-3">
                    <h1 class="m-0 fw-bold">€39.99 </h1>
                    <span>/monthly</span>
                </div>
                <button (click)="checkout('price_1Mlhx9BapNSScoYvu765T22Y')" style="width: 100%;"
                        class="mt-4 btn btn-info text-light mb-4">Buy Plan
                </button>
                <p style="font-size: 1rem;" class="d-flex m-0 my-2 fw-light">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="me-2"
                         style="width: 1rem;">
                        <path fill-rule="evenodd"
                              d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z"
                              clip-rule="evenodd"/>
                    </svg>
                    <span>
                        10 Free Scooter Ads
                    </span>
                </p>
                <p style="font-size: 1rem;" class="d-flex m-0 my-2 fw-light">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="me-2"
                         style="width: 1rem;">
                        <path fill-rule="evenodd"
                              d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z"
                              clip-rule="evenodd"/>
                    </svg>

                    <span>
                    Free Insurance
                </span>
                </p>
                <p style="font-size: 1rem;" class="d-flex m-0 my-2 fw-light">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="me-2"
                         style="width: 1rem;">
                        <path fill-rule="evenodd"
                              d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z"
                              clip-rule="evenodd"/>
                    </svg>
                    <span>
                24 Hour Breakdown aid
            </span>
                </p>
                <p style="font-size: 1rem;" class="d-flex m-0 my-2 fw-light">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="me-2"
                         style="width: 1rem;">
                        <path fill-rule="evenodd"
                              d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z"
                              clip-rule="evenodd"/>
                    </svg>
                    <span>
                   No Extra Fees
                </span>
                </p>

            </div>

        </div>


</div>
