
<div class="row mx-auto mt-3">
<div class=" mx-auto pb-3 col-xs-12 col-sm-12 col-md-6 my-5 text-dark  mt-1 mb-1">
    <div class="mx-auto" style="width: 100%" >
        <ngx-skeleton-loader [theme]="{height: '24rem', width: '21vw'}"></ngx-skeleton-loader>
        <br>
        <ngx-skeleton-loader [theme]="{width: '15rem'}"></ngx-skeleton-loader>
        <br>
        <ngx-skeleton-loader [theme]="{width: '5rem'}"></ngx-skeleton-loader>
    </div>

</div>
<div class=" mx-auto pb-3 col-xs-12 col-sm-12 col-md-6 my-5 text-dark  mt-1  mb-1">
    <div class="mx-auto" style="width: 100%" >
        <ngx-skeleton-loader [theme]="{height: '24rem', width: '21vw'}"></ngx-skeleton-loader>
        <br>
        <ngx-skeleton-loader [theme]="{width: '15rem'}"></ngx-skeleton-loader>
        <br>
        <ngx-skeleton-loader [theme]="{width: '5rem'}"></ngx-skeleton-loader>
    </div>

</div>

<div class="pb-3 col-xs-12 col-sm-12 col-md-6 my-5 text-dark  mt-1 mx-auto mb-1">
    <div  style="width: 100%" >
        <ngx-skeleton-loader [theme]="{height: '24rem', width: '21vw'}"></ngx-skeleton-loader>
        <br>
        <ngx-skeleton-loader [theme]="{width: '15rem'}"></ngx-skeleton-loader>
        <br>
        <ngx-skeleton-loader [theme]="{width: '5rem'}"></ngx-skeleton-loader>
    
    </div>

</div>

<div class=" mx-auto pb-3 col-xs-12 col-sm-12 col-md-6 my-5 text-dark  mt-1 mx-auto mb-1">
    <div  style="width: 100%" >
        <ngx-skeleton-loader [theme]="{height: '24rem', width: '21vw'}"></ngx-skeleton-loader>
        <br>
        <ngx-skeleton-loader [theme]="{width: '15rem'}"></ngx-skeleton-loader>
        <br>
        <ngx-skeleton-loader [theme]="{width: '5rem'}"></ngx-skeleton-loader>
    </div>

</div>
</div>
