FrontEnd/node_modules/
FrontEnd/npm-debug.log
FrontEnd/Dockerfile*
FrontEnd/docker-compose*
FrontEnd/.dockerignore
FrontEnd/.gitignore
FrontEnd/README.md
FrontEnd/LICENSE
FrontEnd/.vscode
node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode