/target/
/BackendAPI/target/
./BackendAPI/target/
./FrontEnd/.angular/cache/
/FrontEnd/.angular/cache/
FrontEnd/.angular/cache/
/.angular/cache/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
