<a style="position: relative" *ngIf="!isScooterOwner; else hostEditLink" class="nav-link" [routerLink]="['/escooter-detail', escooter.id]">

    <div class="card mx-auto scooter-card" style="width: 18rem; overflow-x: hidden; !important">
        <img style="object-fit:cover !important; width: 27vw !important; height: 29vw !important;  overflow-x: hidden; !important" src="{{escooter.image}}" class="card-img-top" alt="..." />
        <div style=" overflow-x: hidden; !important" class="card-body pt-3">
            <div style=" overflow-x: hidden; !important" class=" pb-3 border-bottom">
                <div class="d-flex justify-content-between">
                    <h6 class="card-text  fw-bold">{{escooter.modelName}}</h6>
                    <p  class="fw-bold">{{escooter.cost | currency:'EUR'}}/day</p>
                </div>
                <div style="margin-top:-.61rem;">
                    <i class="fa fa-star text-info"></i>
                    <i class="fa fa-star text-info"></i>
                    <i class="fa fa-star text-info"></i>
                    <i class="fa fa-star text-info"></i>
                    <i class="fa fa-star text-info"></i>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <p [ngClass]="escooter.inUse ? 'text-danger' : 'text-success'" class="text-end fw-bolder  my-auto pt-3">{{escooter.inUse ? 'Active' :  'Inactive' }} </p>
                <p class="text-end  my-auto pt-3"><span>{{ escooter.county }}</span>, <span class="fw-bold">{{ escooter.country }}</span></p>
            </div>
        </div>
    </div>
</a>
<ng-template #hostEditLink>
    <div class="scooter-card card mx-auto" style="position:relative; overflow: hidden">
        <button (click)="onAddClick()" style="position:absolute; z-index: 1; right: 0;" class="btn btn-warning rounded-0 fw-bold">Run ad</button>

        <a class="nav-link  " [routerLink]="['/escooter-detail', escooter.id]">
            <div class="" style="width: 18rem; overflow-x: hidden; !important">
                <img style="object-fit:cover !important; width: 27vw !important; height: 29vw !important;  overflow-x: hidden; !important" src="{{escooter.image}}" class="card-img-top" alt="..." />
                <div style=" overflow-x: hidden; !important" class="card-body pt-3">
                    <div style=" overflow-x: hidden; !important" class=" pb-3 border-bottom">
                        <div class="d-flex justify-content-between">
                            <h6 class="card-text  fw-bold">{{escooter.modelName}}</h6>
                            <p  class="fw-bold">{{escooter.cost | currency:'EUR'}}/day</p>
                        </div>
                        <div style="margin-top:-.61rem;">
                            <i class="fa fa-star text-info"></i>
                            <i class="fa fa-star text-info"></i>
                            <i class="fa fa-star text-info"></i>
                            <i class="fa fa-star text-info"></i>
                            <i class="fa fa-star text-info"></i>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p [ngClass]="escooter.inUse ? 'text-danger' : 'text-success'" class="text-end fw-bolder  my-auto pt-3">{{escooter.inUse ? 'Active' :  'Inactive' }} </p>
                        <p class="text-end  my-auto pt-3"><span>{{ escooter.county }}</span>, <span class="fw-bold">{{ escooter.country }}</span></p>
                    </div>
                </div>
            </div>
        </a>
    </div>

</ng-template>


