
<div   class="d-flex align-items-center bg-light z-10 mx-auto text-center justify-content-center " style="margin-top: -3rem !important; z-index: 999999 !important; overflow: hidden !important; background-color: #FEFEFE !important; height: 100vh !important; width: 100vw !important;">
<!--    <mat-spinner size="10px"></mat-spinner>-->
<!--    <img style="width: 42rem" src="assets/images/website/loading.gif" alt="">-->

    <div  class="mx-auto text-center" >
        <img class="mx-auto text-center" style="width: 8rem " src="assets/images/website/torchlogoblack.png" alt="">
        <div class="text-center" style="width: 28rem"  #lottieContainer></div>
        <mat-progress-bar *ngIf="lottieContainer" color="warn" style="width: 20rem"  class="remove-mb mt-5 mx-auto text-center"
                          mode="indeterminate"></mat-progress-bar>
    </div>



</div>

