<div class="card border-0 shadow mx-auto mobile-arrange mr-b mb-wd" style="height: 100%">


  <div style="position: relative !important;" class="mx-auto mt-3">
    <img *ngIf="userDetails?.profilePicture else avatar"  style=" object-fit: cover; border-radius: 100% !important; width: 14.7rem; height: 14.7rem;"  [src]="userDetails?.profilePicture" class="rounded-circle p-4 m-auto" alt="...">
    <p *ngIf="userDetails?.accountType == 'Advanced'" style=" border: 2px solid white; width: max-content; position: absolute; bottom:9px; left:3rem; z-index: 99" class="rounded-pill bg-dark mb-2 my-auto text-light p-1 fs-7 px-3 mx-auto">{{userDetails?.accountType}} Plan</p>
    <p *ngIf="userDetails?.accountType == 'Pro'" style=" border: 2px solid white; width: max-content; position: absolute; bottom:9px; left:4.5rem; z-index: 99" class="rounded-pill bg-dark mb-2 my-auto text-light p-1 fs-7 px-3 mx-auto">{{userDetails?.accountType}} Plan</p>

  </div>

  <!--  <img style=" height: 15rem !important; width: 15rem !important; object-fit: cover; border-radius: 50% !important;"-->
<!--       [src]="userDetails?.profilePicture" alt="">-->
  <ng-template style="position: relative" #avatar>
    <img style="  !important;border-radius: 50% !important; width: 14.7rem; height: 14.7rem; object-fit: cover"
         src="https://api.dicebear.com/6.x/micah/svg?seed={{userDetails?.email}}&backgroundColor=b6e3f4" class=" card-img-top p-4 m-auto" alt="...">

  </ng-template>

  <h4 class="fw-bold text-center"> {{ userDetails?.firstName}} {{ userDetails?.lastName}} </h4>


  <span class="text-info text-center" style="font-size: 1rem;  ">{{ userDetails?.userTrips ? userDetails?.userTrips: 0 }} trips</span>
  <div class="card-body p-4 mx-0">
    <!-- <h5 class="card-title">Card title</h5> -->

    <div *ngIf="userDetails?.isHost"   class="row border-top border-light  py-3">
      <div  class="col-6 my-auto">
        <p  class="card-text  my-auto ">{{userDetails?.host ? 'Host ID #' : 'User id'}}</p>
      </div>
      <div  class="col-6 my-auto">
        <p th:text="${user.getHost().getId()}" class=" text-info text-end my-auto">{{userDetails?.host ? userDetails?.host : userDetails?.id}}</p>
      </div>

    </div>
    <div class="row border-top border-light d py-3">
      <div class="col-6 my-auto">
        <p class="card-text  my-auto ">Your rating</p>
      </div>
      <div class="col-6 my-auto">
        <p  th:text="${user.getRating()}"  class=" text-info text-end my-auto"> {{ userDetails?.rating ? userDetails?.rating : 0.0}}</p>
      </div>

    </div>
    <div class="row border-top border-light  py-3">
      <div class="col-6 my-auto">
        <p class="card-text  my-auto ">Active Trips</p>
      </div>
      <div class="col-6 my-auto">
        <p  th:text="${user.getUserTrips()}" class=" text-info text-end my-auto">0</p>
      </div>

    </div>
  </div>


</div>
