.btn-hover:hover{
    background-color: #9E9E9E;

}
.a-img-dropdown:hover{
    opacity: 0.4;
    background-color: transparent;
}
@media(max-width: 575.68px){

    .my-nav{
        display: none !important;
    }

}
@media(min-width: 580.68px){


}

ul  {
    list-style-type: none;
    text-decoration: none;
}

.li {
transition: 0.1s ease-in-out;
    transition-duration: 0.1s;
}

.li:hover {
    background-color: #383838;
}
