

<nav
        style="background-color: black !important; padding: 0.6rem 5rem !important"
        id="navbar-example2" class="navbar  bg-dark navbar-dark  sticky fixed-top py-2">
  <div class="d-flex align-items-center">
    <a class="navbar-brand me-3" [routerLink]="['']">
      <img src="assets/images/website/torchlogo.png" width="80" height="auto" alt="logo" />
    </a>

 <app-nav-bar-search></app-nav-bar-search>
  </div>

  <ul  class="nav nav-pills">
    <li *ngIf="!isAuthenticated" class="nav-item  my-auto">
      <a [routerLink]="['login']" style="border-radius: 2.3rem !important; font-size: .8rem !important; background-color: black !important;" class="btn my-auto text-light rounded-0 fw-bold">

        Log in
      </a>
    </li>
    <li  *ngIf="!isAuthenticated" class="nav-item  my-auto">

      <a [routerLink]="['signup']" style=" border-radius: 2.9rem !important; font-size: 0.8rem !important; " class="btn btn-light rounded-0 text-dark fw-bold  my-auto">Sign up</a>

    </li>

    <li *ngIf="isAuthenticated && !accountType && isHost" class="nav-item my-auto me-3">
      <a style=" border-radius: 2.9rem !important; font-size: 0.8rem !important; " class="btn btn-outline-warning rounded-0  fw-bold  my-auto" (click)="subscriptionModal()">Upgrade Plan</a>
    </li>

    <li *ngIf="accountType" class="nav-item my-auto me-3">
      <p style="opacity: 100% !important; border-radius: 2.9rem !important; font-size: 0.8rem !important; " class=" btn btn-outline-light disabled rounded-0 text-light fw-bold  my-auto">{{accountType}} plan</p>
    </li>

    <li *ngIf="isAuthenticated" class="nav-item my-auto">
      <a style=" border-radius: 2.9rem !important; font-size: 0.8rem !important; " class="btn btn-light rounded-0 text-dark fw-bold  my-auto"  (click)="onLogout()">Sign out</a>

    </li>

<!--    <li  class="nav-item my-auto">-->
<!--      <a  *ngIf="isAuthenticated" style=" border-radius: 2.9rem !important; font-size: 0.8rem !important; " class="btn rounded-0 text-dark fw-bold  my-auto"  [routerLink]="['profile']">-->
<!--        <img *ngIf="!profileImage" style="width: 1.9rem; height: 1.9rem; border-radius: 100%; object-fit: cover"  class="rounded-circle " src="./assets/images/website/avatar.png" alt="">-->
<!--        <img *ngIf="profileImage" style="width: 1.9rem; height: 1.9rem; border-radius: 100%; object-fit: cover" class="rounded-circle " [src]="profileImage" alt="">-->
<!--      </a>-->
<!--    </li>-->


    <li *ngIf="isAuthenticated" bsDropdown  dropdown #dropdown="bs-dropdown" [autoClose]="false" style="background-color: black !important " class=" nav-item dropdown bg-dark m-auto nav-link">
      <a  dropdownToggle style="background-color: black !important" class=" dropdown-toggle text-white open a-img-dropdown" data-bs-toggle="dropdown" href="#"  role="button" aria-expanded="false">

<!--        <i class="fa fa-th fw-light" aria-hidden="true"></i>-->
        <img *ngIf="!profileImage" style="width: 1.9rem; height: 1.9rem; border-radius: 100%; object-fit: cover"  class="rounded-circle " src="./assets/images/website/avatar.png" alt="">

        <img *ngIf="profileImage" style="width: 1.9rem; height: 1.9rem; border-radius: 100%; object-fit: cover" class="rounded-circle " [src]="profileImage" alt="">

      </a>
      <ul role="menu" *dropdownMenu style="background-color: black !important; " class="dropdown-menu dropdown-menu-dark border-bottom-info py-2 me-5">
        <li role="menuitem" *ngIf="isAuthenticated" (click)="closeDropdown($event)"><a class="dropdown-item w-100 " [routerLink]="['/profile']">Profile</a></li>
        <li role="menuitem" *ngIf="isVerified" (click)="closeDropdown($event)"><a class="dropdown-item " [routerLink]="['/user-trips']">Trips</a></li>
        <li role="menuitem" *ngIf="isVerified == false && isAuthenticated == true" (click)="closeDropdown($event)"><a class="w-100 dropdown-item rounded-0 text-light mt-1 text-info" [routerLink]="['verify']">Verify Now</a></li>
        <li role="menuitem" *ngIf="isHost" (click)="closeDropdown($event)"><a class="dropdown-item " [routerLink]="['host-trips']">Host Trips</a></li>
        <li role="menuitem"  *ngIf="isHost" (click)="closeDropdown($event)"><a [routerLink]="['host-escooters', hostID]" class="dropdown-item " >E-Scooters</a></li>
        <li class="my-2" role="menuitem" *ngIf="isHost == false || isVerified == true" (click)="closeDropdown($event)"><a [routerLink]="['become-host']" class="dropdown-item text-info border-top-dark fw-bold py-2" >Become a host</a></li>
        <li role="menuitem"><hr class="dropdown-divider bg-dark"></li>
        <li role="menuitem"><a class="dropdown-item " href="#scrollspyHeading3">Legal & Insurance</a></li>
        <li role="menuitem"><a class="dropdown-item " href="#scrollspyHeading4">Privacy Policies</a></li>
      </ul>
    </li>

  </ul>



  <mat-progress-bar *ngIf="isLoadingLine" class="position-absolute mt-2" style="left: 0; bottom:0" mode="indeterminate"></mat-progress-bar>


</nav>
<app-load-screen *ngIf="isLoading" class="mx-auto"></app-load-screen>

