<header class="bg-green text-dark position-relative mt-5">
    <div class="container">
        <div class="row pt-5 pb-3 mw-25">
            <div class="col-xs-12 col-md-3 text-center">
                <img style=" height: 15rem !important; width: 15rem !important; object-fit: cover; border-radius: 50% !important;"
                     [src]="host?.hostUser.profilePicture" alt="">
                <div class=" fs-4 d-flex align-items-center my-auto text-center justify-content-center mt-2">
                    <p class="text-center fw-bold align-self-center p-0 m-0">{{host?.hostUser.rating ? (host.hostUser.rating | number: '1.1-1') : 0.0}} </p>
                    <i class="fa fa-star fs-6 align-self-center me-1 p-0 m-0 text-info ms-1" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 my-auto">
                <div class="d-flex justify-content-between">
                    <h1 class="fw-bold">{{host?.hostUser.firstName +' ' +host?.hostUser.lastName}}</h1>
                    <div class="socials fs-1">
                        <i class="fa fa-twitter-square btn  text-light rounded-circle"
                           aria-hidden="true"></i>
                        <i class="fa fa-facebook-square btn  text-light rounded-circle"
                           aria-hidden="true"></i>
                        <i class="fa fa-instagram btn  text-light rounded-circle" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="tags my-auto">
                    <span *ngIf="host?.hostUser.torchTrusted" class="badge text-bg-primary me-1"><i class="fi fi-ss-bolt"></i> Trusted Host</span>
                    <span *ngIf="host?.hostUser.isVerified" class="badge text-bg-success me-1"><i class=" fi fi-sr-badge-check"></i> Verified </span>
                </div>
                <div class="details pt-3 ">
                    <div class="fs-4 text-secondary fw-lighter">
                        <p> {{host?.hostTrips.length}} trips - Joined {{host?.hostUser.joined | date}}</p>

                        <div class="d-flex align-items-center">

                            <i class="fi fi-sr-marker fs-6 align-self-center me-1" aria-hidden="true"></i>
                            <p class="country text-secondary m-0 p-0 fs-6 my-auto align-self-center ">
                                {{host?.hostUser.location}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-n5 pt-n3 me-5">
            <button class="btn btn-info text-light rounded-0 fs-4 px-5 my-auto">
                <span class="fa fa-pencil" aria-hidden="true"></span>
                Write a review
            </button>
        </div>
    </div>
</header>

<section class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <div class="col-sm-12 mt-3 pt-4 p-4  ">
                    <div class="header-about-section d-flex align-items-center justify-content-between">
                        <p class="my-auto fw-bolder pb-1 text-info text-uppercase disabled">About</p>
                        <p class="btn btn-light">3 years Expereince</p>
                    </div>
                    <p class="text-secondary mt-2">{{host?.hostUser.about}}
                    </p>
                </div>

                <div class="col-sm-12 mt-3 pt-0 p-4  ">
                    <p class="my-auto fw-bolder pb-1 text-info mx-auto text-center text-uppercase disabled">Host Badges (4)</p>
                    <div class="d-flex justify-content-between mt-5">
                        <div *ngIf="host?.hostTrips" class="d-flex flex-column align-items-center mx-2">
                            <img style="width: 6.2rem;" class=" text-center mx-auto" src="assets/images/website/new.png" alt="" srcset="">
                            <p style="width: 4rem;" class="fw-bold justify-content-center align-self-center text-center pt-3"> Trips Starter</p>
                        </div>
                        <div *ngIf="host.hostTrips.length > 99" class="d-flex flex-column align-items-center mx-2">
                            <img style="width: 6.2rem;" class=" text-center mx-auto" src="assets/images/website/100trips.png" alt="" srcset="">
                            <p style="width: 4rem;" class="fw-bold justify-content-center align-self-center text-center pt-3"> Trip Master</p>
                        </div>
                        <div *ngIf="host?.hostUser.torchTrusted" class="d-flex flex-column align-items-center mx-2">
                            <img style="width: 6.2rem;" class=" text-center mx-auto" src="assets/images/website/torchTrusted.png" alt="" srcset="">
                            <p style="width: 4rem;" class="fw-bold justify-content-center align-self-center text-center pt-3"> Torch trusted</p>
                        </div>
                        <div class="d-flex flex-column align-items-center mx-2">
                            <img style="width: 6.2rem;" class=" text-center mx-auto" src="assets/images/website/topRated.png" alt="" srcset="">
                            <p style="width: 4rem;" class="fw-bold justify-content-center align-self-center text-center pt-3"> Top Rated</p>
                        </div>
                        <div class="d-flex flex-column align-items-center mx-2">
                            <img style="width: 6.2rem;" class=" text-center mx-auto" src="assets/images/website/safety.png" alt="" srcset="">
                            <p style="width: 4rem;" class="fw-bold justify-content-center align-self-center text-center pt-3"> Safety First</p>
                        </div>
                    </div>

                </div>

                <div class="col-sm-12 p-4">
                    <div class="  ">
                        <p class="my-auto fw-bolder text-upercase text-info text-uppercase"> Host Reviews</p>
                    </div>
                    <div *ngFor="let hr of host.hostReviews"
                         class="row border-bottom my-2 p-2 pt-3">
                        <div class="col-xs-12 col-sm-1">
                            <img style="object-fit: cover; border-radius: 50% !important"
                                width="60"
                                 height="60" class="rounded" alt="..."
                                 [src]="hr.user_reviewer.profilePicture"
                            />
                        </div>
                        <div class="col-xs-12 col-sm-11">
                            <div class="row">
                                <div class="col-sm-10 col-sxs-12">
                                    <p><span class="fw-bold">
                                        {{hr.user_reviewer.firstName +' ' +hr.user_reviewer.lastName}}
                                    </span>
                                        <br> <span th:text="${review.getScooter_reviewer().getCountry()}"
                                                   class="">{{hr.user_reviewer.country}}</span> </p>
                                </div>
                                <div class="col-2 d-flex justify-content-between">
                                    <p th:text="${#dates.format(review.getReviewDate(), 'MM/yyyy')}"
                                       class=" ">{{hr.reviewDate | date}}</p>
                                    <div class="d-flex">
                                        <p th:text="${review.getStarRating()}" class="me-2">{{hr.starRating}}</p>
                                        <i class="fa fa-star  text-info pt-1"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p th:text="${review.getComment()}" class="">{{hr.comment}}
                                </p>
                            </div>
                        </div>
                        <div *ngIf="!host.hostReviews" class="col-11">
                            No reviews
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 ">
            <div class="p-4 pt-2  rounded mt-3">
                <div>
                    <p class="fw-bolder mt-3 text-info text-uppercase">VERIFIED STATUS</p>

                    <div class="card-body px-2 mx-0">
                        <div class="row  border-light fw-light ">
                            <div class="col-xs-12 col-md-6 my-auto">
                                <p class="card-text my-auto ">Verified </p>
                            </div>
                            <div class="col-6 my-auto">
                                <p class="fs-3 text-info text-end my-auto"><i class="fa fa-check"
                                                                              aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>
                        <div th:if="${user.getHost()}" class="row   border-light  ">
                            <div class="col-xs-12 col-md-6 my-auto">
                                <p class="card-text  my-auto ">Phone verified</p>
                            </div>
                            <div class="col-6 my-auto">
                                <p class="fs-3 text-info text-end my-auto"><i class="fa fa-check"
                                                                              aria-hidden="true"></i>
                            </div>

                        </div>
                        <div th:unless="${user.getHost()}" class="row   border-light  ">
                            <div class="col-xs-12 col-md-6 my-auto">
                                <p class="card-text  my-auto ">Email verified</p>
                            </div>
                            <div class="col-6 my-auto">
                                <p class="fs-3 text-info text-end my-auto"><i class="fa fa-check"
                                                                              aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-4  rounded mt-2">
                <p class="fw-bold text-uppercase text-info">Insurance information</p>
                <p>Taiwo has succssfuly secured all vehicles under <span class="text-dark fw-bold">Axa Insurance</span>
                    This means that:</p>

                <div class="card-body px-2 mx-0">
                    <div class="row  border-light fw-light ">
                        <div class="col-xs-12 col-md-6 my-auto">
                            <p class="card-text my-auto ">Breakdwon Coverage</p>
                        </div>
                        <div class="col-6 my-auto">
                            <p class="fs-3 text-info text-end my-auto"><i class="fa fa-shield" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    <div th:if="${user.getHost()}" class="row   border-light  ">
                        <div class="col-xs-12 col-md-6 my-auto">
                            <p class="card-text  my-auto ">Free Inspections</p>
                        </div>
                        <div class="col-6 my-auto">
                            <p class="fs-3 text-info text-end my-auto"><i class="fa fa-shield" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div th:unless="${user.getHost()}" class="row   border-light  ">
                        <div class="col-xs-12 col-md-6 my-auto">
                            <p class="card-text  my-auto ">Free Servicing</p>
                        </div>
                        <div class="col-6 my-auto">
                            <p class="fs-3 text-info text-end my-auto"><i class="fa fa-shield" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="hostEsccoters" class="escooters-host p-4">
                <p class="fw-bold text-info text-uppercase">Taiwo's Escooters</p>
                <div *ngIf="hostEsccoters" class="row">
                    <a [routerLink]="['/escooter-detail', e.id]" *ngFor="let e of hostEsccoters" style="text-decoration: none; width: 46%; height: 100% !important;" class="card mx-auto p-0 mb-2 text-dark scooter-card col-6  mx-auto mx-2" id="scooter-card">
                        <img style="object-fit:cover !important; width: 100% !important; height: 8rem !important;" [src]="e.image" class="card-img-top mx-auto" alt="..." />
                        <div class="card-body m-0">
                            <div class=" ">
                                <div class="">
                                    <h5 class="card-text fw-bold">{{e.modelName}}</h5>
                                </div>
                                <div class="d-flex align-items-center border-top  justify-content-between mt-3 pt-3" >
                                    <div class="">
                                        <span class="fw-bold">{{e.rating}}</span> <i class="fa fa-star text-info"></i>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p class="fw-bold m-0 p-0">{{e.cost | currency: 'EUR'}}/day</p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                    <div class="d-grid px-5 gap-2 col-12 pt-4 mx-auto">
                        <button [routerLink]="['/host-escooters']" class="btn btn-info text-light fw-bold" *ngIf="isMore" type="button">View More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
