<header  *ngIf="!isLoading" class="bg-green text-dark position-relative mt-5">
    <div style="width: 78vw !important;"  class="container">
        <div class="row pt-5 pb-3 mw-25">
            <div style="position: relative" class="col-xs-12 col-md-3 text-center">
                <img style=" height: 15rem !important; width: 15rem !important; object-fit: cover; border-radius: 50% !important;"
                     [src]="host?.hostUser.profilePicture" alt="">
                <p *ngIf="host?.hostUser?.accountType"
                   style=" border: 1.5px solid white; width: max-content; position: absolute; bottom:23px; left:0; right:0;"
                   class="rounded-pill bg-warning mb-2 my-auto text-dark font-gro-bold p-1 fs-7 px-4 mx-auto">{{host?.hostUser?.accountType}}
                    Plan</p>



                <div class=" fs-4 d-flex align-items-center my-auto text-center justify-content-center mt-2">
                    <p class="text-center fw-bold align-self-center ms-2 p-0 m-0">{{host?.hostUser.rating ? (host?.hostUser.rating | number : '1.2-2') : 0 | number : '1.2-2'}} </p>
                    <i class="fa fa-star fs-6 align-self-center me-1 p-0 m-0 text-info ms-1" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 my-auto">
                <div class="d-flex justify-content-between">
                    <h1 class="fw-bold">{{host?.hostUser?.firstName + ' ' + host?.hostUser?.lastName}}</h1>
                    <div class="socials fs-1">
                        <i class="fa fa-twitter-square btn  text-light rounded-circle"
                           aria-hidden="true"></i>
                        <i class="fa fa-facebook-square btn  text-light rounded-circle"
                           aria-hidden="true"></i>
                        <i class="fa fa-instagram btn  text-light rounded-circle" aria-hidden="true"></i>
                    </div>
                </div>
                <div style="width: max-content" class="tags my-auto d-flex align-items-center">

                    <app-torch-trusted-badge *ngIf="host?.hostUser.torchTrusted"></app-torch-trusted-badge>
                    <app-verified-badge></app-verified-badge>

                </div>
                <div class="details pt-3 ">
                    <div class="fs-4 text-secondary fw-lighter">
                        <p> {{host?.hostTrips.length}} trips - Joined {{host?.hostUser.joined | date}}</p>

                        <div class="d-flex align-items-center">

                            <i class="fi fi-sr-marker fs-6 align-self-center me-1" aria-hidden="true"></i>
                            <p class="country w-50 text-secondary m-0 p-0 fs-6 my-auto align-self-center ">
                                {{host?.hostUser.location}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section style="width: 78vw !important;" *ngIf="!isLoading" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <div class="col-sm-12 mt-3 pt-4 p-4 border-bottom ">
                    <div class="header-about-section d-flex align-items-center justify-content-between">
                        <h6 class="my-auto fw-bold pb-1  text-uppercase disabled">About the host</h6>
                        <p class="btn btn-light">3 years Expereince</p>
                    </div>
                    <p class="text-secondary mt-2">{{host?.hostUser.about}}
                    </p>
                </div>

                <div *ngIf="host?.hostTrips.length > 1 || host.hostTrips.length > 29 || host?.hostUser.torchTrusted || host?.hostUser.rating > 4 || (host?.hostUser.isVerified && host?.hostUser.rating > 4)"
                     class="col-sm-12 border-bottom mt-5 pt-0 p-4  ">
                    <h6 class="my-auto fw-bold pb-1  mx-auto  text-uppercase disabled">Badges earned by host</h6>
                    <div class="d-flex justify-content-around mt-5">
                        <div *ngIf="host?.hostTrips.length > 1" class="d-flex flex-column align-items-center mx-2">
                            <img style="width: 6.2rem;" class=" text-center mx-auto" src="assets/images/website/new.png"
                                 alt="" srcset="">
                            <p style="width: 4rem;"
                               class="fw-bold justify-content-center align-self-center text-center pt-3"> Trips
                                Starter</p>
                        </div>
                        <div *ngIf="host.hostTrips.length > 27" class="d-flex flex-column align-items-center mx-2">
                            <img style="width: 6.2rem;" class=" text-center mx-auto"
                                 src="assets/images/website/100trips.png" alt="" srcset="">
                            <p style="width: 4rem;"
                               class="fw-bold justify-content-center align-self-center text-center pt-3"> Trip
                                Master</p>
                        </div>
                        <div *ngIf="host?.hostUser.torchTrusted" class="d-flex flex-column align-items-center mx-2">
                            <img style="width: 6.2rem;" class=" text-center mx-auto"
                                 src="assets/images/website/torchTrusted.png" alt="" srcset="">
                            <p style="width: 4rem;"
                               class="fw-bold justify-content-center align-self-center text-center pt-3"> Torch
                                trusted</p>
                        </div>
                        <div *ngIf="host?.hostUser.rating > 4" class="d-flex flex-column align-items-center mx-2">
                            <img style="width: 6.2rem;" class=" text-center mx-auto"
                                 src="assets/images/website/topRated.png" alt="" srcset="">
                            <p style="width: 4rem;"
                               class="fw-bold justify-content-center align-self-center text-center pt-3"> Top Rated</p>
                        </div>
                        <div *ngIf="host?.hostUser.isVerified && host?.hostUser.rating > 4"
                             class="d-flex flex-column align-items-center mx-2">
                            <img style="width: 6.2rem;" class=" text-center mx-auto"
                                 src="assets/images/website/safety.png" alt="" srcset="">
                            <p style="width: 4rem;"
                               class="fw-bold justify-content-center align-self-center text-center pt-3"> Safe Host</p>
                        </div>
                    </div>

                </div>


                <div class="col-sm-12 p-4">

                    <div>
                        <div class="  ">
                            <h6 class="my-auto fw-bold text-upercase text-uppercase pt-3 "> Host Reviews</h6>

                        </div>
                        <div *ngFor="let hr of host.hostReviews; let i = index"
                             class="row mx-auto border-bottom my-2 py-4 pt-5 ">

                            <div class="col-md-1 col-sm-12">
                                <div *ngIf="hr.user_reviewer.host; else normalUser" style="cursor:pointer" [routerLink]="['/host-profile', hr.user_reviewer.host]" class="position-relative">
                                    <img style="object-fit: cover; border-radius: 50% !important"
                                         src="{{hr.user_reviewer.profilePicture}}" width="60" height="60" class="rounded"
                                         alt="..."/>
                                    <app-host-badge style="bottom: -10px; left: 10px; right: 0" class="position-absolute "></app-host-badge>

                                </div>

                                <ng-template #normalUser>
                                    <div  class="position-relative">
                                        <img style="object-fit: cover; border-radius: 50% !important"
                                             src="{{hr.user_reviewer.profilePicture}}" width="60" height="60" class="rounded"
                                             alt="..."/>
                                    </div>

                                </ng-template>

                            </div>
                            <div class="col-11">
                                <div class="row ">
                                    <div class="col-md-10 col-sm-12 ">
                                        <div class="row mx-auto">
                                            <div style="width: 99%" class="col-md-12 mx-auto">
                                                <i *ngFor="let g of ratingList[i]"
                                                   class="fa fa-star fs-4 me-1 text-info pt-1"></i>
                                                <br>
                                                <small class="text-secondary"><span>{{hr?.user_reviewer.firstName}} {{hr?.user_reviewer.lastName}}
                                                    - {{hr?.user_reviewer.country}}</span> <br>
                                                    <span class="d-flex">
                    </span>

                                                </small>

                                                <p class="text-dark mt-2">{{hr?.comment}}
                                                </p>
                                            </div>


                                        </div>


                                    </div>
                                    <div class="col-md-2 col-sm-12 d-flex justify-content-between">
                                        <small th:text="${#dates.format(review.getReviewDate(), 'MM/yyyy')}"
                                               class=" text-secondary">{{hr?.reviewDate | date : 'dd MMM yyyy'}}</small>
                                    </div>
                                </div>
                                <div class="row mx-auto">


                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="mb-5 pb-5" *ngIf="!host?.hostReviews.length ">
                        <p class="text-center mt-5"> No Reviews</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 ">
            <div class="p-4 pt-2  rounded mt-3">
                <div>
                    <h6 class="fw-bolder mt-3 text-uppercase">VERIFIED STATUS</h6>

                    <div class="card-body px-2 mx-0">
                        <div class="row  border-light ">
                            <div class="col-xs-12 col-md-6 my-auto">
                                <p class="card-text my-auto ">Verified </p>
                            </div>
                            <div class="col-6 my-auto">
                                <p class="fs-3 text-info text-end my-auto"><i class="fa fa-check"
                                                                              aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>
                        <div th:if="${user.getHost()}" class="row   border-light  ">
                            <div class="col-xs-12 col-md-6 my-auto">
                                <p class="card-text  my-auto ">Phone verified</p>
                            </div>
                            <div class="col-6 my-auto">
                                <p class="fs-3 text-info text-end my-auto"><i class="fa fa-check"
                                                                              aria-hidden="true"></i>
                            </div>

                        </div>
                        <div th:unless="${user.getHost()}" class="row   border-light  ">
                            <div class="col-xs-12 col-md-6 my-auto">
                                <p class="card-text  my-auto ">Email verified</p>
                            </div>
                            <div class="col-6 my-auto">
                                <p class="fs-3 text-info text-end my-auto"><i class="fa fa-check"
                                                                              aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-4  rounded mt-2">
                <h6 class="fw-bold text-uppercase mb-3">Insurance information</h6>
                <p class="fw-lighter">Taiwo has succssfuly secured all vehicles under <span class="text-dark fw-bold">{{host?.insurance.name}}</span>
                    This means that:</p>

                <div class="card-body px-2 mx-0">
                    <div class="row  border-light ">
                        <div class="col-xs-12 col-md-6 my-auto">
                            <p class="card-text my-auto ">Breakdwon Coverage</p>
                        </div>
                        <div class="col-6 my-auto">
                            <p class="fs-3 text-info text-end my-auto"><i class="fa fa-shield" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    <div th:if="${user.getHost()}" class="row   border-light  ">
                        <div class="col-xs-12 col-md-6 my-auto">
                            <p class="card-text  my-auto ">Free Inspections</p>
                        </div>
                        <div class="col-6 my-auto">
                            <p class="fs-3 text-info text-end my-auto"><i class="fa fa-shield" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div th:unless="${user.getHost()}" class="row   border-light  ">
                        <div class="col-xs-12 col-md-6 my-auto">
                            <p class="card-text  my-auto ">Free Servicing</p>
                        </div>
                        <div class="col-6 my-auto">
                            <p class="fs-3 text-info text-end my-auto"><i class="fa fa-shield" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="hostEsccoters" class="escooters-host p-4">
                <h6 class="fw-bold  text-uppercase">{{host?.hostUser.firstName}}'s Escooters</h6>
                <div *ngIf="hostEsccoters" class="row">
                    <a [routerLink]="['/escooter-detail', e.id]" *ngFor="let e of hostEsccoters"
                       style="text-decoration: none; width: 46%; height: 100% !important;"
                       class="card mx-auto p-0 mb-2 text-dark scooter-card col-6  mx-auto mx-2" id="scooter-card">
                        <img style="object-fit:cover !important; width: 100% !important; height: 8rem !important;"
                             [src]="e.image" class="card-img-top mx-auto" alt="..."/>
                        <div class="card-body m-0">
                            <div class=" ">
                                <div class="">
                                    <p class="card-text fw-bold">{{e.modelName}}</p>
                                </div>
                                <div class="d-flex align-items-center border-top  justify-content-between mt-3 pt-3">
                                    <div class="d-flex justify-content-between">
                                        <p class="fw-bold m-0 p-0">{{e.cost | currency: 'EUR'}}/day</p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                    <div class="d-grid px-5 gap-2 col-12 pt-4 mx-auto">
                        <button [routerLink]="['/host-escooters',host.id]" class="btn btn-dark text-light fw-bold"
                                *ngIf="isMore" type="button">View More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
