.mat-form-field-flex{
    background-color: #9E9E9E !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex{
    background-color: #9E9E9E !important;


}

.mat-form-field-wrapper {
    padding-bottom: -0.65625em !important;
}

#trips{
    top:0 !important;
    margin-top: -4rem !important;
    padding-top: -4rem !important;
}

