


<div class="">
    <p class="fw-bold mt-3 text-capitalize text-uppercase">Trip Start Times</p>
    <form #StartTipForm="ngForm" (ngSubmit)="onSubmit(StartTipForm)" class="mt-2">

        <div class="p-2">

            <input  for="tripStart"
                    autocomplete="true"
                    [min]="todaysDate"
                    class="form-control datepicker form-control-lg mb-2 bg-light" type="date"
                    placeholder="Trip start" [value]="12/10/9876" ngModel
                    name="tripStart"
                    id="location-input" required aria-label=".form-control-lg example">
            <input for="tripEnd"
                   autocomplete="true"
                   [min]="todaysDate"
                   [max]="StartTipForm.value.tripStart + 6"
                   required ngModel
                   name="tripEnd"
                   class="form-control datepicker form-control-lg bg-light"
                   type="date"
                   placeholder="Trip End"
                   aria-label=".form-control-lg example">


            <button [disabled]="!StartTipForm.valid" *ngIf="isAuthenticated" style="width: 100%;" type="submit"
                    class="btn btn-dark text-light p-2 mt-4 ">Submit</button>

            <button disabled *ngIf="!isAuthenticated" style="width: 100%;" type="submit"
                    class="btn btn-outline-dark disabled text-dark p-2 mt-4 ">Login to Book</button>

        </div>
        <div class="d-flex my-auto justify-content-between pt-4 mb-3">
            <p class="my-auto fw-bold">Cost per day:</p>
            <h3 class="text-end fw-bolder text-info my-auto">{{cost | currency:'EUR'}}</h3>
        </div>
    </form>
</div>
