
<form #searchForm = "ngForm" (ngSubmit)="onSubmit(searchForm)" class="position-relative">
    <input
            [options]="options"
            ngx-google-places-autocomplete
            ngModel
            (keydown.enter)="onSubmit(searchForm)"
            id="location"
            (onAddressChange)="handleAddressChange($event)"
            name="location"
            style=" z-index: 99999; border-width: 0.5px; font-size: 0.9rem !important; border-top: none;  border-left: none; border-right: none; margin-right: 5rem; border-bottom-color: #fffdfd !important; position: relative !important;" class=" input-custom py-2 mt-1 my-auto bg-transparent ps-4   pe-5 me- fs-6 text-light w-100" type="search" placeholder="County, country or province">
    <svg style="position:absolute !important; top:13px; bottom: 2px; border-bottom-color: #1c1c1c !important;" class="position-absolute" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
         width="16" height="16"
         viewBox="0 0 40 40">
        <linearGradient id="-2suTD81jP2ew0CFO8L6Qa_p8VkXMjDOpcE_gr1" x1="31.916" x2="25.088" y1="31.849" y2="26.05" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#b2b2b2"></stop><stop offset=".999"></stop></linearGradient><polygon fill="url(#-2suTD81jP2ew0CFO8L6Qa_p8VkXMjDOpcE_gr1)" points="29.976,27 24.451,27.176 33.95,36.778 36.778,33.95"></polygon><path fill="#b2b2b2" d="M24.313,27c-1.788,1.256-3.962,2-6.313,2c-6.075,0-11-4.925-11-11S11.925,7,18,7s11,4.925,11,11	c0,2.659-0.944,5.098-2.515,7h4.776C32.368,22.909,33,20.53,33,18c0-8.284-6.716-15-15-15S3,9.716,3,18c0,8.284,6.716,15,15,15	c4.903,0,9.243-2.363,11.98-6H24.313z"></path>
    </svg>
</form>
