<section style="" class="container pt-5 mt-5 pb-5 mb-4">

    <div style=" overflow-x: hidden; !important"  class="row ">


        <div *ngIf="isLoading" class="col-12 mt-1 border p-4 rounded-3">
        <div class="row mx-auto mt-3">
    <ngx-skeleton-loader class="rounded-5 mb-3" [theme]="{height: '4rem', width: '25vw'}"></ngx-skeleton-loader>

    <div class=" mx-auto pb-3 col-xs-12 col-sm-12 col-md-3 my-5 text-dark  mt-1 mb-1">
                <div class="mx-auto rounded" style="width: 100%" >
                    <ngx-skeleton-loader class="rounded-3" [theme]="{height: '24rem', width: '21vw'}"></ngx-skeleton-loader>
                    <br>
                    <ngx-skeleton-loader [theme]="{width: '15rem'}"></ngx-skeleton-loader>
                    <br>
                    <ngx-skeleton-loader [theme]="{width: '5rem'}"></ngx-skeleton-loader>
                </div>

            </div>
    <div class=" mx-auto pb-3 col-xs-12 col-sm-12 col-md-3 my-5 text-dark  mt-1 mb-1">
        <div class="mx-auto rounded" style="width: 100%" >
            <ngx-skeleton-loader class="rounded-3" [theme]="{height: '24rem', width: '21vw'}"></ngx-skeleton-loader>
            <br>
            <ngx-skeleton-loader [theme]="{width: '15rem'}"></ngx-skeleton-loader>
            <br>
            <ngx-skeleton-loader [theme]="{width: '5rem'}"></ngx-skeleton-loader>
        </div>

    </div>
    <div class=" mx-auto pb-3 col-xs-12 col-sm-12 col-md-3 my-5 text-dark  mt-1 mb-1">
        <div class="mx-auto rounded" style="width: 100%" >
            <ngx-skeleton-loader class="rounded-3" [theme]="{height: '24rem', width: '21vw'}"></ngx-skeleton-loader>
            <br>
            <ngx-skeleton-loader [theme]="{width: '15rem'}"></ngx-skeleton-loader>
            <br>
            <ngx-skeleton-loader [theme]="{width: '5rem'}"></ngx-skeleton-loader>
        </div>

    </div>
    <div class=" mx-auto pb-3 col-xs-12 col-sm-12 col-md-3 my-5 text-dark  mt-1 mb-1">
        <div class="mx-auto rounded" style="width: 100%" >
            <ngx-skeleton-loader class="rounded-3" [theme]="{height: '24rem', width: '21vw'}"></ngx-skeleton-loader>
            <br>
            <ngx-skeleton-loader [theme]="{width: '15rem'}"></ngx-skeleton-loader>
            <br>
            <ngx-skeleton-loader [theme]="{width: '5rem'}"></ngx-skeleton-loader>
        </div>

    </div>
            <div class=" mx-auto pb-3 col-xs-12 col-sm-12 col-md-3 my-5 text-dark  mt-1  mb-1">
                <div class="mx-auto" style="width: 100%" >
                    <ngx-skeleton-loader [theme]="{height: '24rem', width: '21vw'}"></ngx-skeleton-loader>
                    <br>
                    <ngx-skeleton-loader [theme]="{width: '15rem'}"></ngx-skeleton-loader>
                    <br>
                    <ngx-skeleton-loader [theme]="{width: '5rem'}"></ngx-skeleton-loader>
                </div>

            </div>
            <div class=" mx-auto pb-3 col-xs-12 col-sm-12 col-md-3 my-5 text-dark  mt-1  mb-1">
                <div class="mx-auto" style="width: 100%" >
                    <ngx-skeleton-loader [theme]="{height: '24rem', width: '21vw'}"></ngx-skeleton-loader>
                    <br>
                    <ngx-skeleton-loader [theme]="{width: '15rem'}"></ngx-skeleton-loader>
                    <br>
                    <ngx-skeleton-loader [theme]="{width: '5rem'}"></ngx-skeleton-loader>
                </div>

            </div>
            <div class=" mx-auto pb-3 col-xs-12 col-sm-12 col-md-3 my-5 text-dark  mt-1  mb-1">
                <div class="mx-auto" style="width: 100%" >
                    <ngx-skeleton-loader [theme]="{height: '24rem', width: '21vw'}"></ngx-skeleton-loader>
                    <br>
                    <ngx-skeleton-loader [theme]="{width: '15rem'}"></ngx-skeleton-loader>
                    <br>
                    <ngx-skeleton-loader [theme]="{width: '5rem'}"></ngx-skeleton-loader>
                </div>

            </div>
            <div class=" mx-auto pb-3 col-xs-12 col-sm-12 col-md-3 my-5 text-dark  mt-1  mb-1">
                <div class="mx-auto" style="width: 100%" >
                    <ngx-skeleton-loader [theme]="{height: '24rem', width: '21vw'}"></ngx-skeleton-loader>
                    <br>
                    <ngx-skeleton-loader [theme]="{width: '15rem'}"></ngx-skeleton-loader>
                    <br>
                    <ngx-skeleton-loader [theme]="{width: '5rem'}"></ngx-skeleton-loader>
                </div>

            </div>
        </div>
        </div>

        <div *ngIf="hostEscooters && !isLoading" class="col-12">

            <div class="container card mt-3"
                 style=" background-color: white; margin: auto !important;">
                <div class="p-4">
                    <div class="d-flex justify-content-between mb-3">
                        <div *ngIf="hostEscooters.length == 0"> </div>
                        <h2 class="fw-bold " *ngIf="hostEscooters.length > 0"> {{isScooterOwner ?  'Your' : "Host's" }} Electric Scooters </h2>
                       <div class="d-flex ">
                            <a *ngIf="isScooterOwner" (click)="toggleShow()"   class="d-flex text-dark rounded-button rounded-circle justify-content-center align-items-center btn btn-warning ">
                                <mat-icon *ngIf="!isImgRemove">visibility</mat-icon>
                                <mat-icon *ngIf="isImgRemove">visibility_off</mat-icon>
                            </a>
                            <a *ngIf="isScooterOwner" [routerLink]="['/add-escooter']"
                               class="rounded-button ms-2 btn btn-dark rounded-4 btn-lg fw-bold">+ Add Escooter</a>
                        </div>
                    </div>
                    <div *ngIf="hostEscooters.length == 0" class=" w-100 mx-auto text-center">
                        <h1 class="fw-bold " >No Electric scooters</h1>
                        <img width="500" src="assets/images/website/host-scooter-unfound.png" alt="">
                    </div>

                    <div *ngIf="hostEscooters" style=" overflow-x: hidden; !important" th:if="${eScooterList}" class="row pb-5">
                        <div *ngFor="let escooterItem of hostEscooters" style=" overflow-x: hidden; !important" th:if="${eScooterList}" th:each="escooter: ${eScooterList}" class="col-md-3 col-sm-3 pt-3 pb-4">

                        <host-escooter-card [OnImageRemove]="isImgRemove" (deleteClick)="onDeleteClick($event)" (adClick)="onAdClick($event)" [isScooterOwner]="isScooterOwner" [escooter]="escooterItem" ></host-escooter-card>
                        </div>
                        </div>
                </div>
            </div>
        </div>
        <!--        <div class="col-2 ">-->
        <!--            </div>-->


</div>

</section>
