<div class="container mt-5">

    <div style="height: 100vh !important;" class="row">

        <div class="col-6 mx-auto my-auto pb-5">
            <div class="d-flex align-items-center justify-content-center">
                <h1 style="font-size: 4.8rem !important" class="h1 text-center fw-bold">
                    Trip Cancelled
                </h1>

                <img class="text-info" width="100" src = "assets/images/website/21430343641646379775.svg" alt="My Happy SVG"/>
            </div>

            <h3 class="badge-info fw-bold text-center text-info pb-1 mb-2">
               Trip ID: #{{tripID}}
            </h3>
            <div class="mx-aut text-center mt-5">
                <img style="width: 43%; height: auto;" class=" mx-auto" src="assets/images/website/cancel.svg" alt=""/>

            </div>

        </div>


    </div>


