<form [formGroup]="searchFormReactive" (ngSubmit)="onSubmit()"
      class="p-5 mt-2 form-search rounded-3 shadow-lg  "
      style="  margin-left: 8rem ; background-color: white; ">
    <div class="mx-auto text-center ">
        <h1 style="font-size: 3.8rem" class="fw-bold text-start   ">Make your <span
                class="text-info font-gro-black">trip</span></h1>
        <div id="emailHelp2" class="form-text text-start text-dark mb-2">Brows a catalogue of scooters here at <u
                class="text-info">Torch</u></div>
    </div>

    <mat-form-field style="width: 100% !important;" appearance="outline">
        <mat-label>Pickup Location</mat-label>
        <mat-icon matPrefix>location_on</mat-icon>
        <input
                id="location"
                name="location"
                [options]="options"
                ngx-google-places-autocomplete style="color: black !important;"
                formControlName="location"
                (onAddressChange)="handleAddressChange($event)"
                matInput>
    </mat-form-field>


    <mat-form-field style="width: 100% !important; margin-top: -1rem !important;"  appearance="outline">
        <mat-label>Trip Start & Trip End</mat-label>
        <mat-icon matPrefix>date_range</mat-icon>
        <mat-date-range-input  (click)="picker.open()" [rangePicker]="picker">
            <input formControlName="tripStart"  name="tripStart"  matStartDate >
            <input formControlName="tripEnd"  name="tripEnd"   matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
<!--        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <button (mouseover)="onMouseButton()" (mouseleave)="onMouseOutButton()"  style="width: 100%;  background-color: black !important;" type="submit"
            class="btn  text-light p-3 mt-3 fw-bold rounded-3 ">Search
        <i #arrow class="fa fa-long-arrow-right ms-2 arrow" aria-hidden="true"></i>

    </button>

    <div id="emailHelp" class="form-text text-start text-dark mt-3">Scooter models we host at <u
            class="text-info">Torch</u></div>

    <div class="row mt-3 mb-3">


        <a style="cursor:pointer" class="col-3">
            <img (click)="makeImageNavigateToResults()" style="width: 7rem ;" class="rounded img-responsive"
                 src="../../../../assets/images/website/Make/pureelectric.png" alt="">
        </a>

        <a style="cursor:pointer" class="col-3">
            <img (click)="makeImageNavigateToResults()" style="width: 7rem ;" class="rounded img-responsive"
                 src="../../../../assets/images/website/Make/xiaomi.png" alt="">
        </a>

        <a style="cursor:pointer" class="col-3">
            <img (click)="makeImageNavigateToResults()" style="width: 7rem ;" class="rounded img-responsive"
                 src="../../../../assets/images/website/Make/avovo.png" alt="">
        </a>

        <a style="cursor:pointer" class="col-3">
            <img (click)="makeImageNavigateToResults()" style="width: 7rem ;" class="border rounded img-responsive"
                 src="../../../../assets/images/website/Make/segway.png" alt="">
        </a>


    </div>


</form>
