<div class="container card "
     style="

                background-color: white;
           margin: auto !important;

              ">

  <form (ngSubmit)="onSubmit(UserDetailsForm)" #UserDetailsForm = "ngForm"  class="p-4">
    <div  class="d-flex justify-content-between mb-4">
      <h2 class="fw-bold ">Profile</h2>

    </div>

    <!-- IF CUSTOMER IS ANONYMOUS -->
    <div *ngIf="InitialUserDetails?.isVerified">
      <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </symbol>
        </svg>
        You've successfully been verified.
      </div>

    </div>
    <!-- ELSE -->
    <div *ngIf="!InitialUserDetails?.isVerified" th:unless="${user.getIsVerified()}">
      <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>
          Your account is not yet verified. <a [routerLink]="['verify']">Verify here</a>
        </div>
      </div>
    </div>



    <div style="" class="mb-3 d-flex justify-content-between form-group">
      <div style="width: 47% !important;">
        <label class="form-label fw-bold" for="firstName"> First Name </label>
        <input id="firstName"  name="firstName" class="form-control" [ngModel]="InitialUserDetails?.firstName"
               required autofocus="autofocus" />
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
      </div>
      <div style="width: 47% !important;">
        <label class="form-label fw-bold" for="lastName"> Last Name </label>
        <input id="lastName" [ngModel]="InitialUserDetails?.lastName" class="form-control" name="lastName"
               required autofocus="autofocus" />
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>

      </div>
    </div>

    <div style="" class="form-group mb-3 d-flex justify-content-between ">
      <div style="width: 47% !important;">
        <label class="form-label fw-bold" for="phoneNumber"> Phone Number </label>
        <input type="tel" [ngModel]="InitialUserDetails?.phoneNumber" name="phoneNumber" id="phoneNumber" class="form-control" th:field="*{phoneNumber}"
               required autofocus="autofocus" />
        <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
      </div>

      <div style="width: 47% !important;">
        <label for="postCode" class="form-label fw-bold">Post Code:</label>
        <input id="postCode" [ngModel]="InitialUserDetails?.postCode" name="postCode" class="form-control" th:field="*{postCode}"
               required autofocus="autofocus" />
        <span th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}"></span>
      </div>


    </div>

    <div style="" class="mb-3 d-flex justify-content-between form-group">
      <div style="width: 47% !important;">
        <label for="country" class="form-label fw-bold">Country:</label>
        <input id="country" [ngModel]="InitialUserDetails?.country" name="country" class="form-control" th:field="*{country}"
               required autofocus="autofocus" />
        <span th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
      </div>
      <div style="width: 47% !important;">
        <label for="state" class="form-label fw-bold">Email</label>
        <input id="state" [ngModel]="InitialUserDetails?.email" disabled name="email" class="form-control" th:field="*{state}"
                autofocus="autofocus" />
        <span th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></span>
      </div>
    </div>

    <!-- IF CUSTOMER IS ANONYMOUS -->
    <div *ngIf="InitialUserDetails?.isVerified" id="emailHelp" class="form-text py-4 " th:if="${user.getIsVerified()}">
      Update your contact information and click update to submit.
    </div>
    <!-- ELSE -->
    <div  *ngIf="!InitialUserDetails?.isVerified" id="emailHelp" class="form-text py-4 " th:unless="${user.getIsVerified()}">
      Please fill out all the information and click verify, to verify account.
    </div>
    <button  style="width: 24%" type="submit" class="btn btn-info text-light p-2 mt-1 rounded-0">
      Update
    </button>
  </form>

</div>
