<div style="overflow-y: hidden;" class="">
    <div style="height: 100vh !important;" class="row my-auto ">
        <div style="overflow-y: hidden;" class="col-md-5 col-sm-12 me-auto text-start remove-mb position-relative">
            <a style="z-index: 999 !important; top: 0; margin: 2.0rem 2.7rem" class="position-absolute"
               [routerLink]="['']">
                <img src="assets/images/website/torchlogo.png" width="90" height="auto" alt="logo"/>
            </a>
            <img style="width: auto; height: 100vh; place-items: center" class="me-auto  text-center"
                 src="assets/images/website/sign-up.png" alt=""/>
        </div>

        <div class="col-md-7 col-sm-12 my-auto">
            <div class=" pt-2 my-auto">
                <div class="p-5 my-auto sign-up-form">
                    <form #signupForm="ngForm" class="my-auto" (ngSubmit)="onSubmit(signupForm)">
                        <!--                        <h1 class="fw-bold  mb-3 pb-2 font-gro-bold"><span-->
                        <!--                                class="text-info font-gro-bold">Sign up</span> to make an account on Torch </h1>-->
                        <h1 class="fw-bold pt-4 mb-3 pb-2 font-gro-black"><span class="text-dark font-gro-bold">Sign up to <span
                                class="text-info font-gro-bold">Torch</span> </span>
                        </h1>
                        <div class="mb-3 form-group">
                            <label for="email" class="form-label fw-bold">Email</label>
                            <input style="border:none ; background-color: #f3f3f3; padding: 0.7rem" #emailInput email
                                   required name="email" ngModel
                                   type="email" class="form-control email " id="email"/>
                            <small *ngIf="error" id="emailHelp" class="form-text text-danger mx-auto text-center">Try
                                another email address</small>
                        </div>
                        <div class="mb-3 form-group">
                            <label for="password" class=" form-label fw-bold">Password</label>
                            <input [minLength]="5" [min]="5" #password #passwordNG="ngModel" ngModel required
                                   style="border:none ; background-color: #f3f3f3; padding: 0.7rem" name="password"
                                   type="password" class="form-control mb-3 password"
                                   id="password"/>

                            <label for="passwordAgain" class=" form-label fw-bold">Enter Password</label>
                            <input #passwordAgainNG="ngModel" #passwordAgain ngModel placeholder="6+ charachters"
                                   [minLength]="5" required
                                   style="border:none ; background-color: #f3f3f3; padding: 0.7rem" name="passwordAgain"
                                   type="password" class="form-control passwordAgain"
                                   id="passwordAgain"/>

                            <small *ngIf="isNoMatch" class="form-text text-danger mx-auto text-center fw-bold">Passwords
                                do
                                not match</small>
                        </div>

                        <div style="line-height: 1rem; padding-top: 0.4rem" class="form-check mb-2 w-100 ">
                            <input style="color: black !important;" class="form-check-input text-info" ngModel
                                   #termsNG="ngModel" name="condition" type="checkbox" value="" id="invalidCheck"
                                   required>
                            <small class="form-check-label text-secondary" for="invalidCheck">
                                Creating an account means you’re okay with our <a [routerLink]="['/privacy-policy']">Terms
                                of Service</a> ,<a [routerLink]="['/privacy-policy']">Privacy Policy</a> , and our <a
                                    [routerLink]="['/legal-insurance']">Legal Information</a> .
                            </small>
                        </div>


                        <div class="form-group">
                            <button *ngIf="!isLoading" [disabled]="signupForm.invalid || isNoMatch"
                                    style="width: 50%; padding: 0.7rem"
                                    type="submit" class="btn btn-info text-light mt-3">Create Account
                            </button>
                            <button *ngIf="isLoading" style="width: 50%; padding: 0.7rem" type="submit"
                                    class="btn btn-info text-light mt-3" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            </button>
                        </div>

                        <div class="form-text py-4 text-start pt-4">
                            Already have an account? <a [routerLink]="['../login']" class="link text-info">Sign In</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
