

<div th:if="${not #lists.isEmpty(reviews)}" th:each="review: ${reviews}" class="row border-bottom my-2 pb-4 pt-3">

<div class="col-1">
    <img style="object-fit: cover; border-radius: 50% !important" src="{{reviewUser?.profilePicture}}" width="60" height="60" class="rounded"
         alt="..." />
</div>
<div   class="col-11">
    <div   class="row">
        <div class="col-10">
            <p ><span>{{reviewUser?.firstName}} {{reviewUser?.lastName}}</span> <br>
                <span class="badge badge-dark bg-dark">{{reviewUser?.country}}</span> </p>


        </div>
        <div class="col-2 d-flex justify-content-between">
            <p th:text="${#dates.format(review.getReviewDate(), 'MM/yyyy')}" class=" text-secondary">{{Review?.reviewDate | date : 'MM/yyyy'}}</p>
            <div class="d-flex">
                <p th:text="${review.getStarRating()}" class="me-2">{{Review?.starRating}}</p>
                <i class="fa fa-star  text-info pt-1"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <p style="max-width: 45rem" th:text="${review.getComment()}" class="text-dark">{{Review?.comment}}


        </p>
    </div>
</div>
</div>
