

<div th:if="${not #lists.isEmpty(reviews)}" th:each="review: ${reviews}" class="row mx-auto border-bottom my-2 pb-4 pt-3 ">

<div class="col-md-1 col-sm-12">
    <img style="object-fit: cover; border-radius: 50% !important" src="{{reviewUser?.profilePicture}}" width="60" height="60" class="rounded"
         alt="..." />
</div>
<div   class="col-11">
    <div   class="row ">
        <div class="col-md-10 col-sm-12 ">
            <div class="row mx-auto">


                <div style="width: 99%" class="col-md-12 mx-auto">
                    <div ><span>{{reviewUser?.firstName}} {{reviewUser?.lastName}}</span> <br>
                        <span class="d-flex">
                    <p th:text="${review.getStarRating()}" class="me-2">{{Review?.starRating}}</p>

                    <i class="fa fa-star  text-info pt-1"></i></span> </div>
                </div>
            </div>



        </div>
        <div class="col-md-2 col-sm-12 d-flex justify-content-between">
            <p th:text="${#dates.format(review.getReviewDate(), 'MM/yyyy')}" class=" text-secondary">{{Review?.reviewDate | date : 'MM/yyyy'}}</p>
        </div>
    </div>
    <div class="row mx-auto">
        <p style="width: 97%" th:text="${review.getComment()}" class="text-dark">{{Review?.comment}}


        </p>
    </div>
</div>
</div>
