

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Error!</title>
    <link rel="icon"
          type="image/png"
          th:href="@{${@environment.getProperty('favicon.image')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <style>
        * {
            overflow: hidden;
        }
    </style>
</head>
<body>
<nav th:insert="fragments/nav :: nav" ></nav>

<div style="font-family: Helvetica" class="container text-center mx-auto mt-5 pt-3">

    <div style="height: 73vh;" class="row text-center mx-auto">



        <div class="col-12 text-center mx-auto my-auto">
            <img style="height: 20rem" src="/images/website/opps.png" alt="">
            <h1 style="font-size: 3.8rem !important; margin-bottom: 0 !important;" class=" text-center fw-bold text-center mx-auto text-info">
                Opps
            </h1>
            <p  style="font-size: 3rem !important;"  class="badge-info fw-bold text-center text-dark text-center">
                Something went wrong.
            </p>
            <h5 th:text="${error}">Try refreshing this page or coming back later.</h5>
        </div>
    </div>

</div>
</body>
</html>