<!--<div  class="pt-1">-->


<!--    <alert-message [@showHided]="isNotice ? 'show' : 'hide'" [isNotice]="isNotice" [message]="alertMessage"-->
<!--                   class="position-absolute mt-5 mx-auto alert-message text-center"-->
<!--    ></alert-message>-->


<!--    <alert-message [@showHided]="isAlert ? 'show' : 'hide'" [isAlert]="isAlert" [message]="alertMessage"-->
<!--                   class="position-absolute alert-message mt-5 mx-auto text-center"-->
<!--                   style=""></alert-message>-->


<!--    <alert-message [@showHided]="isSuccess ? 'show' : 'hide'" [isSuccess]="isSuccess" [message]="alertMessage"-->
<!--                   class="position-absolute alert-message mt-5 mx-auto text-center"-->
<!--    ></alert-message>-->


<!--    <alert-message [@showHided]="isError ? 'show' : 'hide'" [isError]="isError" [message]="alertMessage"-->
<!--                   class="position-absolute mt-5 mx-auto alert-message text-center"-->
<!--    ></alert-message>-->

<!--</div>-->
