<div class="mx-auto custom-con pb-5" style="" *ngIf="!isLoading">
    <section  class="header container mt-5 pt-5">
        <div class="row">

            <div class="col-md-8 col-sm-12">
                <div *ngIf="isLoading">
                    <ngx-skeleton-loader [theme]="{height: '5rem', width: '42rem'}"></ngx-skeleton-loader>
                    <br>

                </div>
                <h1 style="font-size: 2.8rem !important" class="h1 text-start fw-bold">
                    {{escooter?.modelName}}
                </h1>

            </div>
            <div class="col-md-4 col-sm-12">
                <div class="my-auto mx-auto text-center">
                    <div *ngIf="isLoading" style="width: 100%">
                        <ngx-skeleton-loader [theme]="{height: '3rem', width: '40%'}"></ngx-skeleton-loader>
                        <br>
                    </div>
                    <img *ngIf="!isLoading" src="assets/{{escooter?.make?.image}}" width="40%"
                         class="my-auto rounded mx-auto text-center remove-mb" alt="">
                </div>
            </div>
        </div>
    </section>

    <section  class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div *ngIf="isLoading" style="width: 100%">
                    <ngx-skeleton-loader [theme]="{height: '34rem', width: '52rem'}"></ngx-skeleton-loader>
                    <br>

                </div>

                <!--                <p-image style="width:2rem !important; height:auto !important; object-fit: cover;"-->
                <!--                         class="rounded my-4 shadow-sm" src="{{ escooter?.image }}" alt="Image" width="850"-->
                <!--                         [preview]="true"></p-image>-->


                <img src="{{ escooter?.image }}" style="width:100%; height:auto !important; object-fit: cover;"
                     class="rounded-3 my-4 shadow-sm" alt="..."/>

                <div *ngIf="!isLoading" class="p-4 pt-2 border rounded mt-4 d-sm-none d-md-block show-mb">

<!--                    mobile-->
                    <app-start-trip-form class="" *ngIf="escooter" [cost]="escooter?.cost"
                                         [escooterId]="escooter?.id"></app-start-trip-form>


                    <div *ngIf="!isLoading">
                        <div class="border-top ">
                            <div class="mt-4">
                                <h6 class="fw-bold">Trip Pickup location</h6>
                            </div>
                            <div class="p-2">
                                <div class=" mt-3 mx-auto text-center">
                                    <google-map class="mx-auto text-center" height="20rem"
                                                width="100%" [options]="options"
                                    >
                                        <map-marker
                                                [position]="markerPosition"
                                                [options]="markerOptions"></map-marker>
                                    </google-map>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

<!--                mobile-->
                <app-mini-host-card  *ngIf="host" [host]="host"
                                    class="show-mb"></app-mini-host-card>
                <div *ngIf="!isLoading" class="p-4 border rounded mt-4 show-mb">
                    <p class="fw-bold">Insurance information</p>
                    <p>Insured under <span class="text-info">{{host?.insurance.name}}.</span></p>
                </div>

                <div class="row">
                    <div class="col-12 border-bottom py-4">
                            <h4 class="my-auto mb-3"> More about this scooter</h4>
                        <div *ngIf="!isLoading">
                            <p class="text-secondary">{{ escooter?.about }} </p>
                            <p class="text-info">Read more</p>
                        </div>
                    </div>

                    <div class="col-12 border-bottom pb-2">
                        <div class="row py-5">
                            <h4 class="my-auto pb-2">What this scooter has to offer</h4>

                        <div class="col-md-6 col-sm-12 d-flex align-items-center my-2">
                            <mat-icon class="fs-2 mb-1">speed</mat-icon>
                            <p class="ms-4 my-auto pt-2 fs-6"> Max speed {{escooter?.maxSpeed}} km/h</p>
                        </div>
                            <div class="col-md-6 col-sm-12 d-flex align-items-center my-2">
                                <mat-icon class="fs-2 mb-1">settings_accessibility</mat-icon>
                                <p class="ms-4 my-auto pt-2 fs-6"> Max rider weight {{escooter?.maxWeight}} lbs</p>
                            </div>
                            <div class="col-md-6 col-sm-12 d-flex align-items-center my-2">
                                <mat-icon class="fs-2 mb-1">outbox</mat-icon>
                                <p class="ms-4 my-auto pt-2 fs-6"> Total range {{escooter?.maxRange}} km/h</p>
                            </div>
                            <div class="col-md-6 col-sm-12 d-flex align-items-center my-2">
                                <mat-icon class="fs-2 mb-1">offline_bolt</mat-icon>
                                <p class="ms-4 my-auto pt-2 fs-6"> Motor power {{escooter?.motorPower}} Wh</p>
                            </div>
                            <div class="col-md-6 col-sm-12 d-flex align-items-center my-2">
                                <mat-icon class="fs-2 mb-1">monitor_weight</mat-icon>
                                <p class="ms-4 my-auto pt-2 fs-6"> Scooter weight {{escooter?.scooterWeight}} lbs</p>
                            </div>
                            <div class="col-md-6 col-sm-12 d-flex align-items-center my-2">
                                <mat-icon class="fs-2 mb-1">water</mat-icon>
                                <p class="ms-4 my-auto pt-2 fs-6">{{escooter?.waterResistant ? 'Water resistant' : 'Not water resistant'}} </p>
                            </div>

                        </div>


                    </div>

                    <div class="col-12">

                        <div class="d-flex py-5 my-auto">
                            <h4 class="my-auto pb-2">Reviews</h4>
                        </div>
                    </div>
                    <div class="col-12 text-center mx-auto">
                        <div class="mx-auto text-center" *ngIf="isLoading">
                            <ngx-skeleton-loader [theme]="{height: '6rem', width: '10%'}"></ngx-skeleton-loader>
                            <br>

                        </div>
                        <div *ngIf="!isLoading">
                            <h1 style="font-size: 2.8rem !important" class="h1 text-center fw-bold">
                                {{escooter?.rating | number : '1.2-2'}}
                            </h1>
                        </div>

                        <div>
                            <div>
                                <i *ngFor="let rating of ratingArray " class="fa fa-star text-info"></i>


                            </div>
                            <p><span th:if="${not #lists.isEmpty(reviews)}" th:text="${reviews.size()}"></span> Rating
                            </p>
                        </div>

                    </div>
                    <div class="col-12 d-flex justify-content-between ">
                        <div class="d-flex">
                            <button th:if="${not #lists.isEmpty(reviews)}" th:text="${reviews.size()}" disabled
                                    class="btn btn-info text-light">
                                {{escooter?.escooterReviews.length}}
                            </button>
                            <h4 class="my-auto ms-3">Comments</h4>
                        </div>

                        <p class="btn btn-outline-info my-auto disabled">All comments</p>
                    </div>

                    <app-review-list class="mt-3" *ngIf="escooter"
                                     [ReviewList]="escooter?.escooterReviews"></app-review-list>
                </div>
            </div>
            <div class="col-4 ">
                <app-mini-host-card *ngIf="host" [host]="host" class="remove-mb"></app-mini-host-card>

                <div  class="p-4 pt-2 border shadow-sm rounded-3 mt-4 d-sm-none d-md-block remove-mb">

                    <app-start-trip-form [escooter]="escooter" class="" *ngIf="escooter" [cost]="escooter?.cost"
                                         [escooterId]="escooter?.id"></app-start-trip-form>
                </div>

                <div *ngIf="!isLoading" class="p-4 border rounded mt-4 remove-mb font-gro-bold">
                    <p class="fw-bold font-gro-bold">Insurance information</p>
                    <p class="">Insured under <span class="text-info font-gro-bold">{{host?.insurance.name}}</span></p>
                </div>
            </div>
            <div class="col-sm-12 mb-5">
                <h4 class="mt-5 mb-3"> Where the scooter is located</h4>


                <google-map class="mx-auto text-center rounded-3 mt-5" height="30rem"
                            width="100%" [options]="options"
                >
                    <map-marker
                            [position]="markerPosition"
                            [options]="markerOptions"></map-marker>
                </google-map>
            </div>
        </div>
    </section>

</div>
<div class="pb-5"></div>
