@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap'); /* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: "BasicGroRegular";
    src: url("assets/fonts/BasisGrotesqueArabicPro-Regular.ttf") format("truetype");
    font-weight: auto;
    font-style: auto;
}


@font-face {
    font-family: "BasicGroBold";
    src: url("assets/fonts/BasisGrotesqueArabicPro-Bold.ttf") format("truetype");
    font-weight: auto;
    font-style: auto;
}

@font-face {
    font-family: "BasicGroBlack";
    src: url("assets/fonts/BasisGrotesqueArabicPro-Black.ttf") format("truetype");
    font-weight: auto;
    font-style: auto;
}

@font-face {
    font-family: "BasicGroMedium";
    src: url("assets/fonts/BasisGrotesqueArabicPro-Medium.ttf") format("truetype");
    font-weight: auto;
    font-style: auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: auto !important;
    font-family: 'BasicGroRegular', sans-serif;

}


/*input.ng-touched.ng-invalid{*/
/*  border: 2px solid red;*/
/*}*/
/*input.ng-touched.ng-valid{*/
/*  border: 2px solid #17a2b7;*/
/*}*/
.toast-top-center {
    margin-top: 8px !important;
    margin-right: 6px !important;
    /*align-self: center !important;*/
    /*left: 42vw !important;*/


}

.full-spinner {
    overflow: hidden !important;
}


li, p {
    font-family: 'BasicGroRegular', sans-serif;

}

p-0 {
    padding: 0 !important;
}

pt-0 {
    padding-top: 0 !important;
}

.icon {
    margin-bottom: 0.3rem !important;
    vertical-align: middle !important;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'BasicGroBlack', sans-serif;

}

.font-gro-black {
    font-family: 'BasicGroBlack', sans-serif !important;

}

.font-gro-medium {
    font-family: 'BasicGroMedium', sans-serif !important;

}

.font-gro-bold {
    font-family: 'BasicGroBold', sans-serif !important;

}

.font-helvetica{
    font-family: Helvetica, sans-serif !important;
}


html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 575.68px) {

    .hm-sm{
        font-size: 2rem !important;
    }

    .mt-sm {
        margin-top: 2rem !important;
    }

    .px-sm {
        margin-left: 1.7rem!important;
        margin-right: 1.7rem!important;
    }

    .mt-sm-1 {
        margin-top: 1rem !important;;
    }

    .remove-mb {
        display: none !important;
    }

    .show-mb {

    }
}

@media (min-width: 580.68px) {
    .my-nav-m {
        display: none !important;
    }

    .show-mb {
        display: none !important;
    }

    .hm-sm{
        font-size: 3.8rem !important;
    }


}

label.star {
    float: right;
    padding: 1px !important;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

.mat-dialog-container {
    display: block;

    border-radius: 15px !important;
    margin-top: 1rem !important;
}

