@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap'); /* You can add global styles to this file, and also import other style files */

/*input.ng-touched.ng-invalid{*/
/*  border: 2px solid red;*/
/*}*/
/*input.ng-touched.ng-valid{*/
/*  border: 2px solid #17a2b7;*/
/*}*/

label.star.star-1{
    padding-top: 10px !important;
    padding-left: 0 !important; ;
    padding-right: 0 !important; ;

}
label.star.star-4{
    padding-top: 10px !important;
    padding-left: 0 !important; ;
    padding-right: 0 !important; ;

}

label.star.star-2{
    padding-top: 10px !important;
    padding-left: 0 !important; ;
    padding-right: 0 !important; ;

}

label.star.star-3{
    padding-top: 10px !important;
    padding-left: 0 !important; ;
    padding-right: 0 !important; ;

}
label.star.star-5{
    padding-top: 10px !important;
    padding-left: 0 !important; ;
    padding-right: 0 !important;

}


*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box ;
    scroll-behavior: auto !important;
    -webkit-font-smoothing: antialiased;
}

p{
    font-family: 'Poppins', sans-serif;

}

p-0{
    padding: 0 !important;
}
pt-0{
    padding-top: 0 !important;
}

.icon {
    margin-bottom: 0.3rem !important;
    vertical-align: middle !important;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
