
<div class="position-relative pb-5 pt-1">
    <mat-dialog-content class=" d-flex flex-column justify-content-center">
<!--        <img class="align-content-center align-self-center " style="width: 4rem; height: auto" src="assets/images/website/torchlogoblack.png" alt="">-->
        <img class="align-content-center align-self-center mt-4 my-3" style="width: 14rem; height: auto" src="assets/images/website/verifyimg.png" alt="">

        <h3 class=" fw-bold  mx-auto text-center my-2 mt-4">Verify Now</h3>

        <p class="w-75 text-center mx-auto "> Verify your account on torch to rent out scooters. Verified users get the ability to book trips, review trips and much more!. </p>



    </mat-dialog-content>
    <mat-dialog-actions align="center" class="d-flex flex-column">
        <button (click)="onVerifyConsented()" style="padding: 5px 7rem !important;" class="rounded-5 fw-bold btn text-white fw-bold btn-dark px-5 row" [routerLink]="['/verify']" mat-button [mat-dialog-close]="true">

            <mat-icon>fingerprint</mat-icon>
           <span>Verify</span>

        </button>
    </mat-dialog-actions>

    <span style="top: 0; right: 0" (click)="onVerifyConsented()" [mat-dialog-close]="true" class="position-absolute btn "><i class="fa fa-times" aria-hidden="true"></i>
</span>

</div>

