
<div class="position-relative pb-5">
    <mat-dialog-content class=" d-flex flex-column justify-content-center">
        <img class="align-content-center align-self-center " style="width: 18rem; height: auto" src="assets/images/website/fingerprint.gif" alt="">
        <h1 class=" fw-bold fs-2 mx-auto text-center" mat-dialog-title>Verify Now</h1>


        <p class="w-75 text-center mx-auto mt-2"> Verify your account on torch to rent out scooters. Verified users get the ability to book trips, review trips and much more!. </p>



    </mat-dialog-content>
    <mat-dialog-actions align="center" class="d-flex mt-4 flex-column">
        <button (click)="onVerifyConsented()" style="padding: 5px 7rem !important;" class="rounded-3 fw-bold btn btn-success px-5 row" [routerLink]="['/verify']" mat-button [mat-dialog-close]="true">

            <mat-icon>fingerprint</mat-icon>
           <span>Verify</span>

        </button>
    </mat-dialog-actions>

    <span style="top: 0; right: 0" (click)="onVerifyConsented()"  class="position-absolute btn "><i class="fa fa-times" aria-hidden="true"></i>
</span>

</div>

