<div  style="text-decoration: none" class="p-4 border rounded-3 shadow-sm  mt-4">
    <p class="fw-bold font-gro-bold">More about the Host</p>
    <div class="d-flex">
        <div>
            <a [routerLink]="['/host-profile', host?.id]" class="nav-link">
                <img src="{{host?.hostUser?.profilePicture}}" style="border-radius: 50%; object-fit: cover" width="100" height="100" class="" alt="..." />
            </a>
        </div>
        <div class="my-auto ps-3">
            <a class=" nav-link" [routerLink]="['/host-profile', host.id]" style="text-decoration: none">
                <p style="margin-bottom: 0" class="fw-bold">{{host?.hostUser?.firstName}} {{host?.hostUser?.lastName}}</p>
            </a>
            <div class="d-flex flex-column ">
                <p class="fw-bold d-flex">
                    <app-torch-trusted-badge *ngIf="host?.hostUser.torchTrusted"/>
                    <app-verified-badge/>
                </p>
                <p style="margin-top: -1.5rem; font-size: 0.7rem">
                    {{ host?.hostTrips?.length  }} trips <span>- {{host?.hostUser.joined | date}}</span>
                </p>
            </div>

        </div>
    </div>
</div>
