<div style="width: 37rem !important; height: max-content; z-index: 9999999; bottom: 1.2rem !important;" class="shadow-lg remove-mb rounded-4 sticky-bottom ms-auto bg-white p-4 w-50 me-3 mt-3">

        <h3>About our cookies</h3>
        <p>Click “Accept” to enable Torch to use cookies to personalize this site,
            and to deliver ads and measure their effectiveness on other apps and websites,
            including social media. Customize your preferences in your Cookie Settings or click “Reject”
            if you do not want us to use cookies for this purpose. Learn more in our Cookie Notice.</p>

    <div class="ms-auto d-flex justify-content-end mt-5">
        <button class="btn btn-light me-3" (click)="onConsented(false)">Reject</button>
        <button class="btn btn-dark" (click)="onConsented(true)">Accept</button>
    </div>

</div>

<div style="width: auto !important; height: max-content; z-index: 9999999;" class="shadow show-mb  rounded-2 sticky-bottom ms-auto bg-white p-4 w-50 mt-3">

    <h3>About our cookies</h3>
    <p>Click “Accept” to enable Torch to use cookies to personalize this site,
        and to deliver ads and measure their effectiveness on other apps and websites,
        including social media. Customize your preferences in your Cookie Settings or click “Reject”
        if you do not want us to use cookies for this purpose. Learn more in our Cookie Notice.</p>

    <div class="ms-auto d-flex justify-content-end mt-5">
        <button class="btn btn-light me-3" (click)="onConsented(false)">Reject</button>
        <button class="btn btn-dark" (click)="onConsented(true)">Accept</button>
    </div>

</div>
