<div class="px-4 pt-4 shadow-sm rounded mt-4 pb-2 bg-white">
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="fw-bold mt-2 text-info">Trip cost</h3>
            <span class="badge bg-dark ms-2" *ngIf="discountObj">{{discountObj?.accountType}} discount</span>
        </div>
        <div class="p-2 mb-3">
            <div>
                <div class="card-body mx-0">
                    <div class="row  py-2">
                        <div class="col-6 my-auto">
                            <p class="card-text my-auto text-secondary"><span >{{escooterCost | currency: 'EUR'}}</span> for  <span>{{tripDays}}</span> day(s) </p>
                        </div>
                        <div class="col-6 my-auto">
                            <p  class=" text-info text-end my-auto fw-bold">{{initialCost | currency:'EUR'}}</p>
                        </div>
                    </div>
                    <div class="row   py-2">
                        <div class="col-5 my-auto">
                            <p class="card-text  my-auto text-secondary d-flex align-items-center">  <span>Processing fee</span></p>
                        </div>
                        <div class="col-7 my-auto d-flex justify-content-end align-items-center">
                            <p class="fw-bold my-auto" *ngIf="discountObj">€0.00</p>
                            <p [ngClass]="discountObj ? 'strike-through ms-2' : 'fw-bold'" class=" text-info text-end my-auto ">€20.00</p>
                        </div>
                    </div>
                    <div class="row t d py-2">
                        <div class="col-6 my-auto">
                            <p class="card-text  my-auto text-secondary">Insurance <span class="text-success" *ngIf="discountObj">(-{{discountObj?.percentageDiscount | percent }})</span></p>
                        </div>
                        <div class="col-6 my-auto d-flex justify-content-end align-items-center">
                            <p class="fw-bold my-auto" *ngIf="discountObj">{{(discountObj ? discountObj?.insuranceDiscount : '') | currency: 'EUR'}}</p>
                            <p [ngClass]="discountObj ? 'strike-through ms-2' : 'fw-bold'" class="my-auto text-info ">
                                {{(discountObj ? discountObj?.insuranceOriginal : totalInsurance) | currency : 'EUR'}}</p>
                        </div>
                    </div>
                    <div class="row t d py-2">
                        <div class="col-6 my-auto">
                            <p class="card-text  my-auto text-secondary">VAT @ 20%</p>
                        </div>
                        <div class="col-6 my-auto">
                            <p class=" text-info text-end  my-auto fw-bold">{{vatCost | currency:'EUR'}}</p>
                        </div>
                    </div>
                    <div class="row border-top   mt-3 pt-4">
                        <div class="col-6 my-auto">
                            <p  class="card-text  my-auto text-dark fw-bold font-gro-bold">Total:</p>
                        </div>
                        <div class="col-6 my-auto">
                            <h3  class=" text-info text-end my-auto fw-bold">
                                {{totalCost | currency:'EUR'}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
