
<div class="">
    <mat-dialog-content class=" d-flex flex-column justify-content-center">
        <mat-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Rate the host</ng-template>
                    <div  class="alert alert-info " role="alert">
                        Tell us more about the Host
                    </div>

                    <!--    <div class="form-group">-->

                    <ngx-star-rating style="display: block !important; position: relative !important;" ngModel  formControlName="host_starRating" [id]="'rating'"></ngx-star-rating>

                    <label for="comment" class="fw-bold">Review the host</label>
                    <textarea placeholder="Your trip with this host so far" ngModel formControlName="host_comment" class="form-control bg-light shadow-sm" rows="5" id="comment"></textarea>

                    <div mat-dialog-actions>
                        <button mat-button matStepperNext style="background-color: black !important;"   type="submit" class="btn btn-dark text-light  mt-4 px-3">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step style="height: 100% !important" [stepControl]="secondFormGroup" label="Fill out your address">
                <form  [formGroup]="secondFormGroup">
                    <div  class="alert alert-info mb-4" role="alert">
                      Tell us more about the Electric Scooter
                    </div>

                        <!--    <div class="form-group">-->

                        <ngx-star-rating style="display: block !important; position: relative !important;" ngModel  formControlName="escooter_starRating" [id]="'rating2'"></ngx-star-rating>

                        <label for="comment" class="fw-bold">Review this scooter</label>
                        <textarea placeholder="What did you like/dislike about this electric scooter....." ngModel formControlName="escooter_comment" class="form-control bg-light shadow-sm" rows="5" id="comment"></textarea>

                    </form>
                    <div class="mb-auto" mat-dialog-actions>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext style="background-color: black !important;"   type="submit" class="btn btn-dark text-light  mt-4 px-3">Next</button>
                    </div>
            </mat-step>
            <mat-step class="mb-auto">
                <ng-template matStepLabel>Done</ng-template>
                <p class="mt-5 pt-5 text-center fs-4">Do you want to submit this review?</p>
                <div class="mx-auto my-auto text-center mt-2">
                    <div *ngIf="isLoading" class="spinner-border text-dark mx-3 my-auto" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <button *ngIf="!isLoading" mat-button matStepperNext style="background-color: black !important;"    type="submit" class="btn btn-dark text-light  mt-4 px-3" (click)="onSubmit()">Submit</button>
                    <button class="my-auto mb-2" *ngIf="!isLoading" mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
        </mat-stepper>




    </mat-dialog-content>
<!--    <mat-dialog-actions align="center" class="d-flex mt-2 flex-column">-->
<!--        <button (click)="onVerifyConsented()" style="padding: 5px 7rem !important;" class="rounded btn btn-primary px-5" [routerLink]="['/verify']" mat-button [mat-dialog-close]="true" cdkFocusInitial>Verify</button>-->
<!--        <button (click)="onVerifyConsented()" class="pt-1 mx-auto tect-center" mat-button mat-dialog-close>Cancel</button>-->
<!--    </mat-dialog-actions>-->

</div>

