.mat-dialog-actions{
    align-items: flex-end !important;
    align-content: end !important;
    justify-content: end !important;
}
.mat-horizontal-content-container {
    height: 20rem !important;
}
.mat-dialog-content{



}
