
<div *ngIf="!isLoading">
<div [ngClass]="trips ? 'bg-light' : 'bg-white'" class="  text-dark font-helvetica">
<div class="row g-5 pt-5 mt-4 pb-5 mx-auto container">
    <h1 *ngIf="trips" class="fw-bold">Trips Stats</h1>
    <div *ngIf="!isLoading && !trips  " class="h-100 w-100 mx-auto text-center">
        <h1  class="fw-bold">No trips booked</h1>
        <img width="500" src="assets/images/website/notrips.png" alt="">
    </div>

    <div class="col-12">
<trip-stats-header *ngIf="tripUser"
                   [totalTrips]="tripUser?.renterTrips.length"
                   [onGoingTrips]="tripUser?.userTripDetails.ACTIVE"
                   [completedTrips]="tripUser?.userTripDetails.COMPLETED"
                   [daysLeft]="tripUser?.lastTripDaysLeft"
                   [cancelledTrips]="tripUser?.userTripDetails.CANCELLED"
                   [cancelledRecentlyTrips]="tripUser?.userTripDetails.CANCELLED_RECENTLY"
                    ></trip-stats-header>
    </div>

    <!-- https://www.codeply.com/go/S6MgKWqFvj -->

    <!-- <div style="height: 100% !important;" class="col-sm-3 h-100">

    </div> -->

    <div class="col-sm-12" *ngIf="trips">
       <trip-history-card [isHost]="false" [trips]="trips"></trip-history-card>
    </div>

</div>
</div>
</div>
