<div class="row">
    <div class="col-sm-12 col-md-2 mt-sm">
        <div class="bg-white p-3  rounded">
            <div class="title"><p class="text-muted text-uppercase font-small text-custom-grey">Trip ratios</p></div>
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h2>{{totalTrips}}</h2>
                    <p class="font-smaller">Total Trips</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-2 mt-sm">
        <div class="bg-white p-3   rounded">
            <div class="title"><p class="text-muted text-uppercase font-small text-custom-grey">Current Trips</p></div>
            <div class="d-flex justify-content-around my-auto">
                <div class="text-center px-3">
                    <h2 th:text="${onGoingTrips}">{{onGoingTrips}}</h2>
                    <p class="font-smaller">Ongoing</p>
                </div>
                <div class="text-center ">
                    <h2 th:text="${completedTrips}">{{completedTrips}}</h2>
                    <p class="font-smaller">Completed</p>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-12 col-md-2 mt-sm">
        <div class="bg-white p-3  rounded">
            <div class="title"><p class="text-muted text-uppercase font-small text-custom-grey">Current Trip</p></div>
            <div class="d-flex justify-content-center">
                <div class="text-center px-3">
                    <h2 class="text-center"> <span th:text="${daysLeft}">{{daysLeft}}</span> </h2>
                    <p class="font-smaller">days left</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-2 mt-sm">

        <div class="bg-white p-3   rounded">
            <div class="title"><p class="text-muted text-uppercase font-small text-custom-grey">Cancelled Trips</p></div>
            <div class="d-flex justify-content-around my-auto">
                <div class="text-center px-3">
                    <h2 th:text="${cancelledTrips}">{{cancelledTrips}}</h2>
                    <p class="font-smaller">Total</p>
                </div>
                <div class="text-center ">
                    <h2 th:text="${cancelledRecentlyTrips}">{{cancelledRecentlyTrips}}</h2>
                    <p class="font-smaller">recently</p>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-12 col-md-4 mt-sm">

        <div class="bg-white p-3 rounded">
            <div class="title"><p class="text-muted text-uppercase font-small text-custom-grey">Cancelled Trips</p></div>
            <div class="d-flex justify-content-around my-auto">
                <div class="text-center px-3">
                    <h2>8</h2>
                    <p class="font-smaller">In use</p>
                </div>
                <div class="text-center ">
                    <h2>2</h2>
                    <p class="font-smaller">Not in use</p>
                </div>
            </div>
        </div>

    </div>
</div>
