<form #myform="ngForm" (ngSubmit)="onSumbit(myform)">


<div class="">
    <mat-dialog-content class=" d-flex flex-column justify-content-center">
<!--        <img class="align-content-center align-self-center " style="width: 4rem; height: auto" src="assets/images/website/star-ad.gif" alt="">-->

            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-6">
                    <h1 class=" fw-bold fs-2 mx-auto text-center mt-3" mat-dialog-title>Create campaign </h1>

                </div>
                <div class="col-3 my-auto mx-auto text-center">
                    <p class="my-auto mx-auto text-center btn btn-warning text-bold  disabled">{{data.totalAdDays}} days left</p>
                </div>

            </div>



        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div>
                            Electric Scooter
                        </div>

                    </mat-panel-title>
                    <mat-panel-description>
                        {{data.escooter.modelName}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class="mt-3">     Scooter avalible from {{data.escooter.tripStart | date: 'dd-MM-yyyy'}} - {{data.escooter.tripEnd | date: 'dd-MM-yyyy'}}</p>
            </mat-expansion-panel>
        </mat-accordion>

        <hr class="text-light">
        <mat-accordion class="example-headers-align mb-4">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header class="">
                    <mat-panel-title>
                        Ad days
                    </mat-panel-title>
                    <mat-panel-description>
                        Run ads for number of days
                        <mat-icon>date_range</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <select required [(ngModel)]="days" name="days" class="form-select form-select-md mb-3 bg-light" aria-label=".form-select-md example" th:field="*{make}">
                    <option [value]="1">1
                    </option>
                    <option [value]="2">2
                    </option>
                    <option [value]="3">3
                    </option>
                </select>
                <mat-action-row>
                    <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header class="">
                    <mat-panel-title>
                        Start Ad Date
                    </mat-panel-title>
                    <mat-panel-description>
                        Ad commence date
                        <mat-icon>date_range</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <input required [(ngModel)]="adDate" name="date" type="date" class="form-control bg-light" id="tripStart"  />

                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" [disabled]="!myform.valid" type="submit">Submit</button>
                </mat-action-row>
            </mat-expansion-panel>

        </mat-accordion>



    </mat-dialog-content>
<!--    <mat-dialog-actions align="center" class="d-flex mt-4  flex-column">-->

<!--&lt;!&ndash;        <button  style="padding: 5px 7rem !important;" class="rounded btn btn-primary px-5" [routerLink]="['/verify']" mat-button [mat-dialog-close]="true" cdkFocusInitial>Verify</button>&ndash;&gt;-->
<!--    </mat-dialog-actions>-->

</div>
</form>
