<div [ngClass]="isHost ? 'bg-dark' : 'bg-white' " class="p-4 rounded border">
    <h4 [ngClass]="isHost ? 'text-light' : 'text-dark' " class="text-uppercase  font-small fw-bold">Your Trips History</h4>
    <div class="table-responsive">
        <table [ngClass]="isHost ? 'bg-dark text-light' : 'bg-white' " style="max-height: 10rem !important;" class="table table-responsive font-small mb-0 rounded font-helvetica table-borderless ">
            <thead class="">
            <tr class="text-muted text-uppercase font-small text-custom-grey">
                <th scope="col">Trip #</th>
                <th scope="col">Status</th>
                <th scope="col">Scooter</th>
                <th scope="col">Trip sTART</th>
                <th scope="col">Trip End</th>
                <th *ngIf="isHost" scope="col">Renter ID</th>
                <th *ngIf="!isHost" scope="col">Host ID</th>
                <th scope="col">trip cost</th>

            </tr>
            </thead>
            <tbody *ngIf="trips" >
            <tr *ngFor="let trip of trips; trackBy: trackByFn" class="hover-row">
                <th scope="row"><a  [ngClass]="isHost ? ' text-light' : 'text-dark' " [routerLink]="['../trip-detail', trip.id]">{{trip.tripId}}</a> </th>
                <td *ngIf="trip.status === 'ACTIVE'" class="badge rounded-pill text-bg-primary">Active</td>
                <td *ngIf="trip.status === 'COMPLETED'" class="badge rounded-pill text-bg-success">Completed</td>
                <td *ngIf="trip.status === 'INACTIVE'" class="badge rounded-pill text-bg-secondary">Inactive</td>
                <td *ngIf="trip.status === 'CANCELLED'" class="badge rounded-pill text-bg-danger">Cancelled</td>

                <td class="fw-bolder">{{trip.eScooterOnTrip.modelName}}</td>
                <td>{{trip.tripStart | date}}</td>
                <td>{{trip.tripEnd | date}}</td>
                <td class="fw-bold">

                    <span  *ngIf="isHost">{{trip.user_renter}}</span>
                    <span  *ngIf="!isHost">{{trip.trip_owner}}</span>
<!--                    <user-name-placeholder [userId]="trip?.trip_owner?.hostUser"></user-name-placeholder>-->
                </td>
                <td > {{trip.tripCost | currency: 'EUR'}}</td>
            </tr>


            </tbody>
        </table>
    </div>
</div>
