<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scooter Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <style>
        * {
            overflow-x: hidden;
        }
    </style>
</head>

<body>
<nav
        style="background-color: black; padding: 1.2rem 10rem 1.2rem 10rem"
        class="d-flex justify-content-between"
>



    <a class="navbar-brand" th:href = "@{/}">
        <img src="/images/website/torch.png" width="90" height="auto" alt="" />
    </a>

    <div sec:authorize="isAnonymous()">
        <a th:href = "@{/user/signin}" style="background-color: black" class="btn text-light">
            Log in
        </a>
        <!--        <a th:href = "@{/registration}" class="btn btn-light">Sign up</a>-->
        <a th:href = "@{/registration}" style="--bs-btn-padding-y: .35rem; --bs-btn-padding-x: .95rem; --bs-btn-font-size: .85rem;" class="btn btn-light rounded-0 fw-bolder">Sign up</a>
        <a th:href="@{/host/hostinfo}" type="button" class="btn btn-outline-light  rounded-0" >Become a Host</a>
    </div>

    <div sec:authorize="isAuthenticated()">
        <a class=" btn text-light" th:href="@{/logout}">Log out</a>
        <a th:href="@{/host/hostinfo}" type="button" class="btn btn-outline-light  rounded-0" >Become a Host</a>
<!--        <a th:href="@{/user/profileEdit/{id}(id=${user.getId()})}" type="button" class="btn btn-outline-light  rounded-0" >Profile</a>-->
    </div>



</nav>

<section class="header container mt-5">
    <h1 style="font-size: 2.8rem !important" class="h1 text-start fw-bold">
        Xiomi vultron pro evolution.
    </h1>
    <div style="" class="d-flex  ">

        <img style="border-radius: 50%; object-fit: cover" th:src="@{${escooter.getHost().getHostUser().getProfilePicture()}}" width="60" height="60" class="" alt="..." />
        <p style="display:inline-block;" class="my-auto ms-3">Host, <span th:text="${escooter.getHost().getHostUser().getFirstName()+' '+escooter.getHost().getHostUser().getLastName()}" class="fw-bold">Taiwo Obadre</span></p>


        <i class="fa fa-star my-auto text-info ms-3 me-2"></i>
        <p style="display:inline-block !important; margin-bottom: 0;" class="my-auto">

            <span th:text="${escooter.getRating()}" class="my-auto">5.0</span> <span class="fw-light">(44)</span>
        </p>

    </div>

    </div>
</section>

<section class="container">

</section>

<section class="container">
    <div class="row">
        <div class="col-8 ">
            <img th:src="@{${escooter.getImage()}}" style="width: 60vw" class="rounded my-4 shadow-sm" alt="..." />
            <div class="row">

                <div class="col-12 border-bottom pb-2">
                    <div class="d-flex py-5 my-auto">
                        <span style="width: .1%;" class="btn btn-info my-auto py-3"></span>
                        <h4 class="my-auto ms-3"> Overview</h4>
                    </div>

                    <p th:text="${escooter.getAbout()}" class="text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown
                        printer took a galley of type and scrambled it to make a type specimen book. It has survived
                        not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially

                    </p>
                    <p class="text-info">Read more</p>
                </div>

                <div class="col-12">

                    <div class="d-flex py-5 my-auto">
                        <span style="width: .1%;" class="btn btn-info my-auto py-3"></span>
                        <h4 class="my-auto ms-3"> Ratings & Reviews</h4>
                    </div>
                    <p class="fw-bold">Xiomi vultron pro evolution. </p>

                </div>
                <div class="col-12 text-center mx-auto">
                    <h1 th:text="${escooter.getRating()}" style="font-size: 2.8rem !important" class="h1 text-center fw-bold">
                        4.9
                    </h1>
                    <div>
                        <div>
                            <i class="fa fa-star  text-info"></i>
                            <i class="fa fa-star  text-info"></i>
                            <i class="fa fa-star  text-info"></i>
                            <i class="fa fa-star  text-info"></i>
                            <i class="fa fa-star  text-info"></i>



                        </div>
                        <p>49 ratings</p>
                    </div>

                </div>
                <div class="col-12 d-flex justify-content-between ">
                    <div class="d-flex">
                        <button disabled class="btn btn-info text-light">
                            10
                        </button>
                        <h4 class="my-auto ms-3">Comments</h4>
                    </div>

                    <p class="btn btn-outline-info my-auto disabled">All comments</p>
                </div>

                <div class="col-12 mt-5 mb-5">
                    <form action="">
                        <div class="form-group">
                            <label for="comment" class="fw-bold">Review this scooter</label>
                            <textarea class="form-control bg-light shadow" rows="5" id="comment"></textarea>
                        </div>

                        <button style="width: 10%" type="submit" class="btn btn-info text-light p-2 mt-4">
                            Review
                        </button>
                    </form>
                </div>



                <div class="row border-bottom my-2 pb-4 pt-3">
                    <div class="col-1">
                        <img style="object-fit: cover;" src="/images/4.png" width="60" height="60" class="rounded"
                             alt="..." />

                    </div>
                    <div class="col-11">
                        <div class="row">
                            <div class="col-10">
                                <p>Stephen Walsh <br> <span class="text-secondary">Ireland</span> </p>


                            </div>
                            <div class="col-2 d-flex justify-content-between">
                                <p class=" text-secondary">12/04</p>
                                <div class="d-flex">
                                    <p class="me-2">5.0</p>
                                    <i class="fa fa-star  text-info pt-1"></i>
                                </div>



                            </div>
                        </div>
                        <div class="row">
                            <p class="text-secondary">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                                an unknown


                            </p>
                        </div>
                    </div>


                </div>






            </div>


        </div>
        <div class="col-4 ">
            <div class="p-4 border rounded mt-4">

                <div>
                    <p class="fw-bold mt-2">Trip details</p>
                    <div class="p-2 mb-3">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex ">
                                <div class="d-flex my-auto t">
                                        <span class="badge rounded-pill text-bg-light"> <i class="fa fa-bolt my-auto "
                                                                                           aria-hidden="true"></i></span>
                                    <span th:text="${escooter.getMaxSpeed()}" class="badge rounded-pill text-bg-light"> 20</span>
                                    <span class="badge rounded-pill text-bg-light">km/h </span>


                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="d-flex my-auto t">
                                        <span class="badge rounded-pill text-bg-light"> <i
                                                class="fa fa-clock-o my-auto " aria-hidden="true"></i></span>
                                    <span class="badge rounded-pill text-bg-light"> 30</span>
                                    <span class="badge rounded-pill text-bg-light">mins </span>


                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="d-flex my-auto t">
                                        <span class="badge rounded-pill text-bg-light"> <i
                                                class="fa fa-credit-card-alt my-auto " aria-hidden="true"></i></span>
                                    <span th:text="${escooter.getCost()}" class="badge rounded-pill text-bg-light"> $20</span>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- <h7>Live location</h7>
             Google maps -->
                <!-- <div>

            </div> -->


                <div>
                    <p class="fw-bold mt-2">Trip Start Time</p>
                    <form th:object="${trip}" class="mt-2" th:action="@{/escooterBooking/{id}(id=${escooter.getId()})}" method="get">
                        <div class="p-2">

                            <input th:field="*{tripStart}" for="tripStart" class="form-control form-control-lg mb-2 bg-light" type="date"
                                   placeholder="Trip start" required aria-label=".form-control-lg example">
                            <input for="tripEnd" required  th:field="*{tripEnd}" class="form-control form-control-lg bg-light" type="date" placeholder="Trip end"
                                   aria-label=".form-control-lg example">


                            <button style="width: 100%;" type="submit"
                                    class="btn btn-dark text-light p-2 mt-4 ">Submit</button>


                        </div>
                        <div class="d-flex p-2 my-auto justify-content-between pt-4">
                            <p class="my-auto fw-bold">Cost per day:</p>
                            <h3 class="text-end text-info my-auto">$32.00</h3>
                        </div>


                    </form>
                </div>




            </div>
            <div class="p-4 border rounded mt-4">

                <p class="fw-bold">Insurance information</p>
                <p>Insured under <span class="text-info">Maximum Insurance.</span> </p>
            </div>
            <div class="p-4 border rounded mt-4">
                <p class="fw-bold">More about the Host</p>
                <div class="d-flex">
                    <div>
                        <img style="border-radius: 50%; object-fit: cover" th:src="@{${escooter.getHost().getHostUser().getProfilePicture()}}" width="100" height="100" class="" alt="..." />
                    </div>
                    <div class="my-auto ps-3">
                        <p th:text="${escooter.getHost().getHostUser().getFirstName()+' '+escooter.getHost().getHostUser().getLastName()}" style="margin-bottom: 0" class="fw-bold">Brian H.</p>
                        <p class="fw-bold" style="margin-bottom: 0; font-size: 0.7rem">
                            Elite Host
                        </p>
                        <p style="margin-bottom: 0; font-size: 0.7rem">
                            1209 trips <span>- Joined August 20202</span>
                        </p>
                    </div>
                </div>


            </div>

        </div>


    </div>
    </div>

</section>




</body>

</html>